<div class="center-button">
    <button class="yellow-button link-styling" >
        <a href="/logout" role="button" type="submit">Logout</a>
    </button>
</div>
<div class="center-button">
    <button class="yellow-button link-styling" >
        <a href="/admin" role="button">Return to Admin Landing Page</a>
    </button>
</div>