<footer class = "footer"> 
    <section class = "bottom-row"> 
        <div class = "border"> 
            <div>
                <h2 class = "mini-container">Developer & Admin Contact Info</h2>
                <p class ="center-text-paragraph">Please reach out if you need assistance in the admin console. </p>
                <ul class="center-text-line-items link-styling">
                    <li>Developer: Kit Fenrir Amreik (they/she)</li>
                    <li>Email: kitdamreik@gmail.com</li>
                </ul>
            </div>
        </div>
    </section>
</footer>
</body>
</html>
