<div class="content-container">
    <section class="content-container-2 naples-yellow">
    <h1>Photo Gallery of Practitioners Page</h1>
    </section>
    <section class="content-container-2">
        <!-- <a href="/photogallery"><img src="/img/photo-gallery.jpeg" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'."></a> -->
        <div class="content-container-3 bold cosmic-latte">
            <p>Hello, and welcome to our Photo Gallery. </p> 
            <p>Here you can find our featured Practitioners, </p> 
            <p>whom you can click on and it will link to our contact page. </p> 
            <p>We hope to hear from you soon :] </p>
        </div>
    </section>
    <h2 class="content-container-2 naples-yellow title-tinker">A.P Cohort 2024-2026 Students</h2>
    <section class="content-container-2 side-scroll-mobile light-steel-blue">
    <div class="card mint">
        <a href="/contactus"><img src="/img/KIT.jpeg" class="template" alt="a picture of Kit, a Black woman smiling with a Black dress and flowers of varying colors, with a red rose in their right ear"></a>
        <div class="card-container">
            <h3><b>Kit Fenrir Amreik (they/she)</b></h3> 
            <p>Global Restorative and Transformative Justice Practitioner, Instructor of A.P. Cohort</p> 
        </div>
    </div>
    <div class="card orchid-crayola">
        <a href="/"><img src="/img/mrsTJ.jpg" alt="Maro looking to the left, wearing a green mesh shirt against a beach"></a>
        <div class="card-container">
            <h3><b>Maro S. (she/her)</b></h3> 
            <p>Accelerated Practitioner Student - Transformative Justice Practitioner Graduate, 2025</p> 
            <hr>
        </div>
    </div>

    <div class="card gold-crayola">
        <a href="/"><img src="/img/blank.png" alt="profile that is grey in color to represent no student added"></a>
        <!-- add image in between a tags -->
        <div class="card-container">
            <h3><b>J. H-B (he/him)</b></h3> 
            <p>Accelerated Practitioner Capstone Candidate, 2025-2026</p> 
            <hr>
            <p>Fun Fact about this student: To be determined soon!</p>
            <p>Insight since learning about the course: Now Loading...</p>
        </div>
    </div>
    <div class="card medium-purple">
        <a href="/"><img src="/img/SUNSHINE.jpg" alt="a picture of Sunshine Pavelka, a White person with sunglasses on against a natural background, smiling with a light yellow floral top"></a>
        <!-- add image in between a tags -->
        <div class="card-container">
            <h3><b>Sunshine (she/they)</b></h3> 
            <p>Accelerated Practitioner Capstone Candidate, 2025-2026</p> 
            <p>Tattooist at wyrdinctattoos!</p>
            <hr>
            <p>Fun Fact about this student:</p> 
            <p>"Trying to bring the magic of tattooing to more people, </p>
            <p>to see if we can work together on a tattoo. </p>
            <p> Please message me at wyrdinctattoos
                @gmail.com."</p>
            <p>Insight since learning about the course: Now Loading... </p>
        </div>
    </div>
    
    <!-- template end -->
    </section>
</div>