 <!-- NEW/V.2 section about client training and preparation -->
 <section class="content-container-2 emerald">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./client-relations"><p class="expansion">Client Training and Preparation</p></a>
    </div>
    <img src="/img/fauxels.jpg" class= "photo-image" alt="a person of color extends a handshake with a white client">
</section>
 <!-- end -->
 <section class="content-container-2 emerald">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./contactus">
        <p class="expansion">Contact Us</p></a>
    </div>
    <img src="/img/contact-us.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips.">
</section>
<!-- make a back end form page instead of footer, send to the admin console -->
<section class="content-container-2 emerald">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./outreach-form">
        <p class="expansion">Outreach Form</p></a>
    </div>
    <img src="/img/anna-shvets.jpg" class= "photo-image" alt="a smiling Black woman in front of a computer">
</section>
<section class="content-container-2 emerald">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/frequently-asked-questions">
        <p class="expansion">FAQ Page</p></a>
    </div>
</section>


 <!-- end -->