<!-- // DO NOT TOUCH -->
<footer class = "link-styling-footer bold naples-yellow"> 
    <section> 
        <div > 
            <div>
                <h2 class = "mini-container orchid-crayola">Developer Contact Info</h2>
                <p class ="center-text-paragraph">A Product of CodeSquad</p>
                <ul class="center-text-line-items link-styling">
                    <li><a href="https://codesquad.org" target="'_blank"><img src="/img/CodeSquad-website-logo.png" alt="CodeSquad.org Logo"></a></li>
                    <li><a href="https://github.com/Kitamreik">
                        <i class="fa-brands fa-github-alt"></i>
                    </a></li>
                    <li><a href="https://www.instagram.com/millennialmadhatteroftime/">
                        <i class="fa-brands fa-instagram-square"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/kit-amreik/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a></li>
                    <li>Developer: Kit Fenrir Amreik (they/she)</li>
                    <li>Email: kitdamreik@gmail.com</li>
                </ul>
            </div>
            <div class="link-styling link-styling-footer">
                <h2 class = "mini-container orchid-crayola">Call to Action</h2>
                <ul class="center-text-line-items link-styling">
                    <li><a href="https://linktr.ee/millennialmadhatteroftime">Donate Here</a></li>
                    <br>
                    <li><a href="https://bit.ly/kit-tj-services">Collaborate & Capacity Build</a></li>
                </ul>
                <br> 
                <div class="center-text-paragraph">
                    Copyright &copy; Kit Fenrir Amreik, 2022-2023. All rights reserved.
                </div>
            </div>
            <!-- Future additions to footer -->
            <!-- 
            <div class="link-styling link-styling-footer">
                <h2 class = "mini-container orchid-crayola">Name</h2>
                <ul class="center-text-line-items link-styling">
                    <li></li>
                </ul>
                <br> 
                <div class="center-text-paragraph">
                    <p>Add text here</p>
                </div>
             -->
            <!-- end -->
            <!-- button placement -->
            <div>
                <button onclick="topFunction()" id="scroll-button" class= "scroll-button">
                    Back to Top
                    <i class="fa-regular fa-circle-up"></i>
                </button>
            </div>
        </div>
    </section>
</footer>
</body>
</html>