<!-- // DO NOT TOUCH -->
<footer class = "footer link-styling-footer bold naples-yellow"> 
    <section class = "bottom-row"> 
        <div class = "border"> 
            <div>
                <h2 class = "mini-container orchid-crayola">Developer Contact Info</h2>
                <p class ="center-text-paragraph">A Product of CodeSquad</p>
                <ul class="center-text-line-items link-styling">
                    <li><a href="https://codesquad.org" target="'_blank"><img src="/img/CodeSquad-website-logo.png" alt="CodeSquad.org Logo"></a></li>
                    <li><a href="https://github.com/Kitamreik">
                        <i class="fa-brands fa-github-alt"></i>
                    </a></li>
                    <li><a href="https://www.instagram.com/millennialmadhatteroftime/">
                        <i class="fa-brands fa-instagram-square"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/kit-amreik/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a></li>
                    <li>Developer: Kit Fenrir Amreik (they/she)</li>
                    <li>Email: kitdamreik@gmail.com</li>
                </ul>
            </div>
            <div class="link-styling link-styling-footer">
                <h2 class = "mini-container orchid-crayola">Call to Action</h2>
                <p class="center-text-paragraph">
                    <div class="center-text-line-items">
                        <a href="https://linktr.ee/millennialmadhatteroftime">Donate Here</a>
                        <br>
                        <br>
                        <a href="https://bit.ly/kit-tj-services">Collaborate & Capacity Build</a>
                        <br>
                        <br>
                        <!-- form disabled 11/18 -->
                        <!-- <a href="#">Book a Practitioner</a> -->
                    </div>
                </p>
                <br>
                <div>
                    Copyright &copy; Kit Fenrir Amreik, 2022-2023. All rights reserved.
                </div>
            </div>
            <!-- button placement -->
            <div>
                <button onclick="topFunction()" id="scroll-button" class= "scroll-button">
                    Back to Top
                    <i class="fa-regular fa-circle-up"></i>
                </button>
            </div>
            <!-- <div class="foot-bar"> 
                <h2 class = "mini-container">Talk to Us :]</h2>
                <form action="/logs" method="POST" type="text">
                    <legend>
                            <p> Note: Responses will be stored and sent out to Practitioners </p>
                            <p> Please wait up to 72 hours for follow up. Thank you :] </p>  
                    </legend>
                        <br>
                        <fieldset>
                            <label for="First and Last Name">First and Last Name:</label>
                            <input type="text" name="First and Last Name" id="First and Last Name" placeholder="First and Last Name" minlength="6" required/>
                        </fieldset>
                        <fieldset>
                            <label for="Email">Email Address</label>
                            <input type="Email" name="Email" id="Email" placeholder="Email Address" minlength="10" required/>
                        </fieldset>
                        <fieldset>
                            <label for="Phone">Phone Number</label>
                            <input type="number" name="Phone" id="Phone" placeholder="Phone Number" minlength="10" required/>
                        </fieldset>
                        <section class= "center-button">
                            <input type="submit" value="Submit" class="yellow-button link-styling">
                        </section>
                </form>
            </div> -->
        
        </div>
    </section>
</footer>
</body>
</html>