<section class = "content-container-2">
        <div class="content-container-3 cosmic-latte">
            <p>This is the graduate booking form that you can fill out and the site adminstrator will collaborate with the student to respond to your inquiry as soon as possible.</p>
            <hr>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfuhQsPFbOfRjw_c2hVSeBetwCJCOYUX2CfRvPKO6OF6htI7A/viewform?embedded=true" width="640" height="1279" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </section>