<div class="content-container">
    <section class="content-container-2 naples-yellow">
    <h1>Photo Gallery of Practitioners Page</h1>
    </section>
    <section class="content-container-2">
        <!-- <a href="/photogallery"><img src="/img/photo-gallery.jpeg" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'."></a> -->
        <div class="content-container-3 bold cosmic-latte">
            <p>Hello, and welcome to our Photo Gallery. </p> 
            <p>Here you can find our featured Practitioners, </p> 
            <p>whom you can click on and it will link to our contact page. </p> 
            <p>We hope to hear from you soon :] </p>
        </div>
    </section>
    <h2 class="content-container-2 naples-yellow title-tinker">A.P Cohort 2023-2024 Students</h2>
    <section class="content-container-2 side-scroll-mobile light-steel-blue">
    <div class="card mint">
        <a href="/contactus"><img src="/img/KIT.jpeg" class="template" alt="a picture of Kit, a Black woman smiling with a Black dress and flowers of varying colors, with a red rose in their right ear"></a>
        <div class="card-container">
            <h3><b>Kit Fenrir Amreik (they/she)</b></h3> 
            <p>Global Restorative and Transformative Justice Practitioner, Instructor of A.P. Cohort</p> 
        </div>
    </div>
    <div class="card mint">
        <a href="/"><img src="/img/blank.png" alt="a stock image of a profile picture that is grey in color to represent no photo added"></a>
        <!-- add image in between a tags -->
        <div class="card-container">
            <h3><b>J. H-B (he/him)</b></h3> 
            <p>Accelerated Practitioner Student - Beginner Semester, Jan 2023</p> 
            <hr>
            <p>Fun Fact about this student: To be determined soon!</p>
            <p>Insight since learning about the course: Now Loading...</p>
        </div>
    </div>
    <div class="card medium-purple">
        <a href="/"><img src="/img/Ames.jpg" alt="a picture of Ames, a non-binary person in a red flannel"></a>
        <!-- add image in between a tags -->
        <div class="card-container">
            <h3><b>Ames (they/them)</b></h3> 
            <p>Accelerated Practitioner Student - Beginner Semester, Jan 2023</p> 
            <p>Radical Reimagining Life Coaching LLC</p>
            <hr>
            <p>Fun Fact about this student: "I'm an unschooling parent, a published poet, and a former cheerleader!"</p>
            <p>Insight since learning about the course: "In this class, I've learned that if we don't do the heart work of living in interconnection, we will "lose the thread that holds humanity together." (Sherri Mitchell)" </p>
        </div>
    </div>
    <div class="card orchid-crayola">
        <a href="/"><img src="/img/EH.png" alt="a picture of Elyse against a brick wall, arms outstretched wearing a black polka dotted dress"></a>
        <!-- why isn't the image working?? -->
        <!-- add image in between a tags -->
        <div class="card-container">
            <h3><b>Elyse (any pronouns)</b></h3> 
            <p>Accelerated Practitioner Student - Beginner Semester, Jan 2023</p> 
            <hr>
            <p>Fun Fact about this student: " I like to draw cartoons!"</p>
            <p>Insight since learning about the course: "The school I work at did harm to students by having teachers facilitate the Circle Process without training. While the action was well-intentioned, the teachers could not facilitate it properly, and students learned to distrust the process."</p>
        </div>
    </div>
    <div class="card gold-crayola">
        <a href="/"><img src="/img/RAY.jpg" class="template" alt="a picture of Ray, a white man smiling with sunglasses against a mural in the background"></a>
        <div class="card-container mini-expansion">
            <h3><b>Ray Vegger (he/him)</b></h3> 
            <p>Accelerated Practitioner Student - Beginner Semester, Jan 2023</p> 
            <hr>
            <p>Fun Fact about this student: "I have flown and landed small aircraft before :] "</p>
            <p>Insight since learning about the course: " I learned that healing, as opposed to reactively fighting back, is the path to transformative change. It is also harder to heal than to fight. "</p>
        </div>
    </div>
    <!-- add new students here -->
    
    <!-- template end -->
    </section>
</div>