 <!-- New Year Feature: Danielle THC & Queen -->
<section class="content-container-2 mint">
    <div class="content-container-3 vivid-sky-blue link-styling">
        <a href="./mentor-features"><p class="expansion">Mentor Features</p></a>
    </div>
    <img src="/img/pink-flowers.jpg" class= "photo-image" alt="a set of pink flowers">
</section>