 <!-- New Year Feature: Danielle THC & Queen -->
<section class="content-container-2 mint">
    <div class="content-container-3 vivid-sky-blue">
        <!-- ./new-year -->
        <a href="./new-year"><p class="expansion">New Year Showcase! </p></a>
    </div>
    <img src="/img/fall-leaf.jpg" class= "photo-image" alt="a person standing in a puddle of water and with a vibrant fall leaf">
</section>
<!-- December mentor feature -->
<section class="content-container-2 mint">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./mentor-features"><p class="expansion">December 2022: Mentor Feature</p></a>
    </div>
    <img src="/img/pink-flowers.jpg" class= "photo-image" alt="a set of pink flowers">
</section>