<!-- // DO NOT TOUCH -->
<header>
    <div class="header-wrapper">
        <div class = "link-styling mobile-container">
            <a href="/"><img src ="/img/Cookie-logo.png" alt="A picture of an animal, with a cat-like smiling face with a turtle's body is the logo of this website."></a>
            </a>
        </div>
        <!-- fix so the nav bar components can be side by side -->
        <nav class="nav-bar link-styling open-sesame"> 
            <ul class="nav-bar-list left-text-line-items">
                <li><a href="/videogallery">About</a></li>
                <li><a href="/tj-quiz">Take the TJ Quiz</a></li>
                <!-- <li><a href="/class-interest">Sign Up for Jan 2023 Cohort</a></li> -->
                <li><a href="/">Sign Up for Jan 2023 Cohort</a></li>
                <li><a href="/login">Login for A.P. Students/Instructor</a></li>
                <!-- <li><a href="/">Index</a></li> -->
                <!-- <li><a href="/register">Register!</a></li> -->
            </ul>
        </nav>
        <div class = "link-styling mobile-container">
            <button class = "hamburger">
                <a href="javascript:void(0);" class="menu" for="open-sesame">
                    <i class="fa fa-bars"></i>
                </a>
            </button> 
        </div>
    </div>
</header>