<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/project-directory/research">
        <p class="expansion"> Research Database</p></a>
    </div>
    <img src="/img/research.jpg"  alt="a picture of a tablet with a notebook" class="photo-image">
    <span class="content-container-3 cosmic-latte">
        <p>This is a cumulative list of where students have referenced their projects from and derived the information to support their ideas.</p>
        </span>
</section>

<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/project-directory/capstone-projects">
        <p class="expansion"> Capstone Semester Projects</p></a>
    </div>
    <img src="/img/brain.jpeg"  alt="a picture of a brain with differently colored flowers inside of it on a white background with the slogan 'We All Think Differently'">
    <span class="content-container-3 cosmic-latte">
        <p>Here are the current student projects from:</p>
        <ul class="center-text-line-items">
            <!-- <li>Fall R. (`24-26)-  (they/he)</li> -->
            <li>James H-B. (`24-26)-  (he/him)</li>
            <li>Sunshine P. (`24-26)-  (she/they)</li>
        </ul>
        </span>
</section>


<!-- for the new round of projects, disabled 10/24 -->
 <!-- 
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/project-directory/capstone-projects">
        <p class="expansion">Capstone Semester Projects</p></a>
    </div>
    <img src="/img/research.jpg" class="photo-image" alt="a picture of a tablet and a notebook filled with notes are on a wooden table">
    <span class="content-container-3 cosmic-latte">
        <p>Here is the current student project(s) from: </p>
    </span>

</section>
 -->

<!-- NEW/V.2 Section about summer projects- deployed 11/18 -->
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/project-directory/grad-projects">
        <p class="expansion">Graduate Capstone Projects</p></a>
    </div>
    <img src="/img/about-stock.jpg" class= "photo-image" alt="a person is typing on their keyboard next to a backpack">
    <span class="content-container-3 cosmic-latte">
        <p>Here are the current student projects from: </p>
        <ul class="center-text-line-items">
            <li>Tree Y. (`22)- (she/they)</li>
            <li>Cori F. (`22)- (she/her)</li>
            <li>Tim C. (`23)- (he/him)</li>
            <li>Chelsea C. (`23)- (she/they)</li>
            <li>Ray V. (`24)- (he/him)</li>
        </ul>
    </span>
</section>
<!-- end -->
