 <!-- NEW/V.2 Section about class interest and sign ups -->
 <section class="content-container-2 light-steel-blue">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./class-interest">
        <!-- <a href="/"> -->
        <p>Class Interest for A.P. Cohort June 2023 - Fundamentals of Transformative Justice</p></a> 
    </div>
    <img src="/img/cafe.jpg" class="photo-image-center" alt="a person is writing in their notebook and reading from another book, with a phone nearby as a timer and a cup of coffee.">
    <div class="content-container-3 cosmic-latte">
        <p>Registration is now OPEN!! The closing date is May 1st! :]</p>
    </div>
</section>
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/">
        <p class="expansion">Site Updates from the Developer</p></a>
    </div>
    <img src="/img/dev.jpeg" class= "photo-image" alt="a person is typing on their keyboard next to a Python book">
    <div class="content-container-3 cosmic-latte">
        <p class="mini-expansion">The site admin is working on composing this page as of March 26th for deployment ASAP. This message will disappear when the page is accessible. Thank you!</p>
    </div>
</section>
<!-- for the new round of projects -->
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/capstone-projects">
        <p class="expansion">Capstone Semester Projects</p></a>
    </div>
    <img src="/img/research.jpg" class="photo-image" alt="a picture of a tablet and a notebook filled with notes are on a wooden table">

</section>
<!-- NEW/V.2 Section about summer projects- deployed 11/18 -->
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./grad-projects">
        <p class="expansion">Graduate Capstone Projects</p></a>
    </div>
    <img src="/img/about-stock.jpg" class= "photo-image" alt="a person is typing on their keyboard next to a backpack">
</section>
<!-- end -->