<!-- Intermediate Cohort June 2023 -->
<!-- 
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/">
        <p class="expansion"> Intermediate Semester Projects</p></a>
    </div>
    <img src="/img/brain.jpeg"  alt="a picture of a brain with differently colored flowers inside of it on a white background with the slogan 'We All Think Differently'">
    <span class="content-container-3 cosmic-latte">
        <p>Here are the current student projects from Ames C., Fall R., Aviva G., James H-B and Elyse H.</p>
    </span>

</section>

 -->

<!-- for the new round of projects -->
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/capstone-projects">
        <p class="expansion">Capstone Semester Projects</p></a>
    </div>
    <img src="/img/research.jpg" class="photo-image" alt="a picture of a tablet and a notebook filled with notes are on a wooden table">
    <span class="content-container-3 cosmic-latte">
        <p>Here is the current student project from Ray V.</p>
    </span>

</section>
<!-- NEW/V.2 Section about summer projects- deployed 11/18 -->
<section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./grad-projects">
        <p class="expansion">Graduate Capstone Projects</p></a>
    </div>
    <img src="/img/about-stock.jpg" class= "photo-image" alt="a person is typing on their keyboard next to a backpack">
    <span class="content-container-3 cosmic-latte">
        <p>Here are the current student projects from Tree Y., Cori F., Tim C. and Chelsea C.</p>
    </span>
</section>
<!-- end -->