    <!-- Intro -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <section class="content-container-2 naples-yellow">
                <p class="expansion">Introduction</p>
            </section>
            <!-- Documentation: https://www.tutorialspoint.com/html/html_email_links.htm -->
            <!-- Feature: being able to have email functionality -->
            <div class="content-container-3 inverse-yellow">
                <p class="mini-expansion">These are currently deployed projects that the students in each semester have been iterating upon. Please take a moment to see if the student's geographic location matches where you are and complete their surveys/review projects. If you are not near the student's location, please share with networks who can help the student in line with their project, and/or feel empowered to reach out. Feedback regarding student projects can be sent here: <a href = "mailto:kit.tjclasses@gmail.com?subject = PPPDirectoryFeedback&body = Message">
                    to the class email
                    </a>
                and the instructor will respond to your email within 24-72 hours or less, as well as share the feedback with the student so they may improve their project in real time. :] </p>
            </div>
        </div>
    </section>