<section class="content-container-2 cosmic-latte link-styling">
    <p>Question: "What does the groundwork and kind of cursory understanding of what these processes entail?"</p>  
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ1">
            <span class="front">
                Tap or click me to see the answer.
            </span>
            <span class="back">
                <p>Answer: </p>
                <ul>
                    <li>"Usually myself, the apprentice, and/or a graduate that is taking the case on themselves or if said graduate is shadowing the instructor/apprentice on a case will have a variety of steps to follow when guiding clients from their initial point of contact with us, as students have been primed, trained and coached from start to finish to conduct these circles successfully. Clients will be connected with a Practitioner for an intake call that we suggest to have for about an hour, with the typical duration being around thirty to forty-five minutes."</li>
                </ul>
            </span> 
        </span>
    </div>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ1B">
            <span class="front"> Tap or click me to learn more.</span>
            <span class="back">
                <p>Answer, Part 2</p>
                <ul>
                    <li>Clients do not need to know anything about restorative or transformative justice; all Practitioners that have graduated this program have committed their time, minds, hearts and hopes into an intensive, accelerated program, spanning two years and over one thousand hours of practice in the classroom and their communities throughout the pandemic.</li>
                </ul>
            </span>
        </span>
    </div>
</section>