<section class="content-container-2 cosmic-latte link-styling">
    <p>Question: "What are the time and general expectations to be had?"</p>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ2">
            <span class="front">
                Tap or click me to see the answer.
            </span>
            <span class="back">
                <p>Answer:</p>
                <ul>
                    <li>"Generally, these processes take time and can really vary depending on the severity of the conflict, stabilizing and encouraging psychological first aid with those who were harmed, the pace of the participants (in line with what their needs are) and collective logistical scheduling and planning. Typically, from Kit’s experience, these processes can take around three weeks to eight months (or longer). Usually myself, the apprentice, and/or a graduate that is taking the case on themselves or if said graduate is shadowing the instructor/apprentice on a case will keep up communication throughout the process."</li>
                </ul>
            </span> 
        </span>
    </div>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ2B">
            <span class="front"> Tap or click me to learn more.</span>
            <span class="back">
                <p>Answer, Part 2</p>
                <ul>
                    <li>When the process is in the termination stage, students have been trained in addition to the instructor actively implements the Community Follow and Follow Through stage within their own processes; this allows for any participant to check in with the Practitioner to share last sentiments, reflections, words of gratitude, and/or feedback regarding the facilitated process. This could be done through a retrospective, office hours that the Practitioner holds, etc. When most/all participants have expressed that they no longer need Follow Up/Through services, then the facilitation can gracefully close.</li>
                </ul>
            </span>
        </span>
    </div>
</section>