<section class="content-container-2 cosmic-latte">
    <p>Question: "How do I work when I take a case? How do students work in tandem with me when they receive a case?"</p>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ3">
            <span class="front">
             Tap or click me for the answer.
            </span>
            <span class="back">
                <p>Answer:</p>
                <ul>
                    <li>"You can read this link <a href="https://tj-practitioner-directory.onrender.com/client-relations"><i>here</i></a> to see how the general processes for this collective are conducted. </li>
                    <br>
                    <li>If you’d like to know more about Kit or to learn where Kit’s mentorship background stems from, click <a href="https://tj-practitioner-directory.onrender.com/dev-updates"><i>here</i></a>.</li>
                    <br>
                    <li>Most communication will be through email, although each Practitioner can use alternate modes of communication with the client and at their discretion.</li>
                </ul>
            </span> 
        </span>
    </div>
</section>