<section class="content-container-2 cosmic-latte link-styling">
    <p>Question: "What do student checkpoints and markers look like and how is progress measured throughout the program?"</p>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ4">
            <span class="front">
                Tap or click me for the answer.
            </span>
            <span class="back">
                <p>Answer:</p>
                <ul>
                    <li>
                        "Students must have passed both the Fundamentals of Transformative Justice and Restorative Justice & Facilitation Theory via Research Integration with a 70% or better, via exams, independent projects and cumulative demonstration of class concepts before they are allowed to facilitate/shadow cases for their Capstone semester."
                    </li>
                    <li>"These two classes allow the student to map out relationships from intakes, plan Circle processes, implement Crisis Response and Needs Assessment frameworks, as well as use Restorative Justice to look deeper between interpersonal relationships via consent training, bystander intervention training and conflict resolution modeling."</li>
                </ul>
            </span> 
        </span>
    </div>
    <br>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="cardQ4B">
            <span class="front"> Tap or click me to learn more.</span>
            <span class="back">
                <p>Answer, Part 2</p>
                <ul>
                    <li>
                        Students must either pass a midterm or final if given for each semester and/or complete their cumulative class projects outside of class time for revision, refactoring, in-class coaching and workshopping, and attending Teacher’s Assistant office hours. 
                    </li>
                    <br>
                    <li>Students then showcase their final presentations at the end of the semester between their cohort mates for focused feedback and suggestions.</li>
                </ul>
            </span>
        </span>
    </div>
</section>