<%# for (data of inform) { %> <%# } %>

<section class="content-container-2 cosmic-latte link-styling">
    <p>Hullo! If you're reading this page, you probably have questions about what this website is about. Well, Kit is here to answer those burning inquiries! :D</p>
    <hr>
    <p>I have done an immense amount of work with different collectives across the U.S. and have taught in workshops, and spoken in panels broadcasted across the world. My portfolio entails:</p>
        <div class="main-container orchid-crayola">
            <span class="question-card" id="card-hardcoded">
                <span class="front"> Tap or click me to see the answer.</span>
                <span class="back">
                    <p>Answer:</p>
                    <ul>
                        <li>Been a participant for the Transformative Justice Practitioner Program with Unity Circles</li>
                        <li>2021 Recipient of the Unifying Leadership Award from Unity Circles</li>
                        <li>Continuous, integrative mentorship via the Restorative Justice Coalition for 3 years to date</li>
                        <li>Been a participant for the Swell Collective’s Facilitator Academy</li>
                        <li>Contributed to an organization’s reduction of their backlog as part of an internship with the Swell Collective</li>
                        <li>Two year teacher and two year producer at a queer kink convention in Denver, CO to date</li>
                        <li>Two year teacher at THRIVE! facilitating towards a global audience</li>
                    </ul>
                </span> 
            </span>
        </div>
        <div class="main-container orchid-crayola">
            <span class="question-card" id="card-hardcoded2">
                <span class="front"> Tap or click me to learn more.</span>
                <span class="back">
                    <p>Answer, Part 2</p>
                    <ul>
                        <li>Instructor, Mentor, Advisor to all students within the Accelerated Practitioner Cohort program since the inception of the program in 2021</li>
                        <li>Facilitated more than fifteen workshops, classes and programs for individual clients and organizations </li>
                        <li>Executive Assistant to the Executive Director for Rebel Cause Incorporated for a decade, implementing organizational support and operationalizing internal systems</li>
                        <li>Collaborated with a renowned dispensary to implement legislative and community oriented language highlighting people of the global majority (POGM) for other organizations and collectives to partner and collaborate regarding plant medicine</li>
                    </ul>
                </span>
            </span>
        </div>
</section>

<!-- Template Code, Do NOT delete -->
<!-- 
<section class="content-container-2 cosmic-latte">
    <p></p>
    <div class="main-container orchid-crayola">
        <span class="question-card" id="card">
            <span class="front">
                <p>Question:</p>
            </span>
            <span class="back">
                <p>Answer:</p>
            </span> 
        </span>
    </div>
</section>

-->
