
<section class="content-container-2 cosmic-latte">
    <div class="main-container orchid-crayola">
        <span class="question-card" id="card">
            <span class="front">
                <p>Question:</p>
            </span>
            <span class="back">
                <p>Answer:</p>
            </span>
           
        </span>
    </div>
        
</section>
