<section class="content-container electric-blue link-styling">     
    <span class="content-container-2 side-scroll-mobile blue-munsell">
        <h3 class="content-container-2 naples-yellow title-tinker">Prospective Student: Test Student </h3>
        <span class="mini-container gold-crayola ">
            <p><strong>Date: 6-11-2023</strong></p>
            <p><strong>Info: Jan 2024 </strong></p>
            <p><strong>Question: "How does this work you may ask?"</strong></p>
            <hr>
        </span>
        <span class="mini-container gold-crayola ">
            <p>This is a hard-coded entry to allow data to render.</p>
        </span>
    </span>
</section>