<section class="content-container electric-blue link-styling">     
    <span class="content-container-2 side-scroll-mobile blue-munsell">
        <h3 class="content-container-2 naples-yellow title-tinker">Client: Test Database Log B </h3>
        
        <span class="mini-container gold-crayola ">
            <p><strong>Email: kit.tjclasses@gmail.com</strong></p>
            <p><strong>Contact Number: 5555555555</strong></p>
            <p><strong>Reason: This is a fail-safe, hard coded entry to allow the database to capture the data here through the outreach data :D</strong></p>
            <hr>
        </span>
     
            <!-- disable to hone in for further testing for the specific ID -->
            <!-- 
            <section class="content-container-3 vivid-sky-blue">
                <div class="center-button">
                <button class="yellow-button">
                    <a href="/update-form">edit</a> 
                </button>
                </div> 
            </section>
            -->
            <!-- no delete button for safety -->
        
    
    </span>
</section>