  <!-- 2023 cohort start -->
  <section class="content-container-2 naples-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./jan-23-photogallery"><p class="expansion">New Cohort Beans: 2023!!!</p>
        </a>
    </div>
    <!-- image -->
   <img src="/img/new-semester.jpg" alt="a picture of a classroom with a plan covering the right side of the picture" class="photo-image">
</section>
<!-- end -->
<section class="content-container-2 naples-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./map">
        <p class="expansion">Where are we in the world?</p></a>
    </div>
    <img src="/img/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
</section>
<!-- Photo -->
<section class="content-container-2 naples-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./photogallery"><p class="expansion">Pilot Cohort 2021-2023</p>
        </a>
    </div>
    <img src="/img/photo-gallery.png" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'.">
</section>

<section class="content-container-2 naples-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="./videogallery">
        <p class="expansion">Video Showcase of Practitioners</p></a>
    </div>
    <img src="./img/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
</section>