  <!-- Jan 2026 cohort start -->
  <!-- <section class="content-container-2 inverse-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/"><p class="expansion">Cohort 3.0: 2026 & Beyond</p>
        </a>
        <p>Dev Note: link will be /student-directory/accepted-students</p>
    </div>
   <img src="/img/new-semester.jpg" alt="a picture of a classroom with a plan covering the right side of the picture" class="photo-image">
   </section> -->
   <section class="content-container-2 inverse-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/student-directory/map">
        <p class="expansion">Where are we in the world?</p></a>
    </div>
    <img src="/img/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
</section>
<!-- Photo -->
  <section class="content-container-2 inverse-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/student-directory/cohort-24-25"><p class="expansion">Cohort 2.5: 2024-Present</p>
        </a>
        <!-- link will be /student-directory/cohort-24-25 -->
    </div>
        <img src="/img/new-semester.jpg" alt="a picture of a classroom with a plan covering the right side of the picture" class="photo-image">
    </section>
<!-- end -->
   <!-- 2023 cohort start -->
   <section class="content-container-2 inverse-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/student-directory/jan-23-photogallery"><p class="expansion">Cohort 2.0: 2023-2025</p>
        </a>
    </div>
    <!-- image -->
   <img src="/img/new-semester.jpg" alt="a picture of a classroom with a plan covering the right side of the picture" class="photo-image">
</section>
<section class="content-container-2 inverse-yellow">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/student-directory/pilot-cohort"><p class="expansion">Pilot Cohort 2021-2023</p>
        </a>
    </div>
    <img src="/img/photo-gallery.png" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'.">
</section>
