/* General/For Everything */ /* DO NOT TOUCH THIS CSS - YOU WILL BE SAD */
/* General --> then media query */
/* the LAST thing is enforced --> cascading */

:root {
      /* In the style.css file, add the following code for a default, (light) theme: */
      --background-color: var(--white);
      --text-color: var(--rich-black);
      /* End experimental dark mode code */
      /* Note: import the CSS in the head.ejs */
    --indigo-dye:#023B58;
    --blue-munsell:#0091AD;
    --electric-blue:#6EFAFB;
    --cosmic-latte:#FFF4E4;
    --medium-champagne:#F7E8A4;
    --hot-pink:#FF57BB;
    --rich-black:#023B58;
    /* New Colors 4-27 */
    --cornflower-blue: #89A1EF;
    --emerald: #44CF6C;

    /* Accessibility Coloring */
    --rich-black: #0D1B2A;
    --black-chocolate: #1F1300;
    
    /* to enclose content */
    --light-steel-blue: #B8CDF8;

    /* for the card background */
    --magic-mint: #95F2D9;
    --vivid-sky-blue: #32CBFF;
    --gold-crayola: #EABE7C;
    --medium-purple: #9D8DF1;
    --orchid-crayola: #EF9CDA;

    /* for header enhancement */
    --naples-yellow:  #F9DC5C;

    /* the gradient */
    color: var(--blue-munsell);
    color: var(--electric-blue);

    /* invert color scheme for the site when dark */
    --inverse-pink: #F72585;
    --inverse-yellow: #FFC6AC;
    --inverse-orchid: #FA6391;
    --inverse-blue: #4361EE;
    --inverse-emerald: #002A32;
};

*{
    box-sizing: border-box;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

/* Test Code */
/* 
html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*/

/* Implementing Dark Mode */
/* Note: Dark Mode Implementation started 4/21/2023, followed from: https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/ */

/* Now that the scaffolding for the default (light) theme is set up, variables for the dark mode theme can be added.
Add the following to style.css above the body declaration: */
[data-theme="dark"] {
    background-color: #1F1300;
}
/* The [data-theme="dark"] theme can be toggled on/off (we’ll cover how to do this in the section below).
The default appearance will be the light theme. This is why the theme is configured to the :root class and not a separate [data-theme="light"] class. */

.dark-mode-content {
    color:var(--black);
    background: var(--cosmic-latte);
    border:var(--border);
}

/* for nav, former hot-pink */
.inverse-pink {
    background-color: var(--inverse-pink);
}

/* for h1 - titles on pages, former naples-yellow */
.inverse-yellow {
    background-color: var(--inverse-yellow);
}

/* former orchid-crayola */
.inverse-orchid {
    background-color: var(--inverse-orchid);
}

/* former light-steel-blue */
.inverse-blue {
    background-color: var(--inverse-blue);
}

/* former emerald */

.inverse-emerald {
    background-color:var(--inverse-emerald);
}

/* END DARK MODE */

/* Container Styling Corrected 2023 *//* For the page outline */
.content-container {
    width: auto;
    margin: 20px;
    /* padding: 3px; */
    /* border-top: solid 5px var(--indigo-dye);
    border-right: solid 5px var(--indigo-dye);
    border-bottom: solid 5px var(--indigo-dye);
    border-left: solid 5px var(--indigo-dye); */
    
    color: var(--rich-black);
}

/* for a section around the content itself, now mobile responsive --> REPLACE ALL SECTIONS from section to 2 */
/* you have to assign a color class as well if you use this */
.content-container-2 {
    /* width: 75%;  */     /* works up to laptop 1024 */
    width: auto; /* attempting for 2560 desktop */
    /* px --> em is 10% of the value */
    margin: 30px;
    padding: 20px;
    border-top: solid 5px var(--medium-purple);
    border-right: solid 5px var(--medium-purple);
    border-bottom: solid 5px var(--medium-purple);
    border-left: solid 5px var(--medium-purple);
    /* background-color: var(--background-color); */
    /* background-color: var(--cosmic-latte); */
    color: var(--rich-black);
    list-style-type: none;
    text-align: left;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* for actual enclosed content, such as the index headers/links, and titles of pages */
.content-container-3 {
    margin: 30px;
    padding: 20px;
    border-top: solid 5px var(--indigo-dye);
    border-right: solid 5px var(--indigo-dye);
    border-bottom: solid 5px var(--indigo-dye);
    border-left: solid 5px var(--indigo-dye);
    /* background-color: var(--light-steel-blue); */
    text-align: center;
    color: var(--rich-black);
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: var(--cornflower-blue);
    height:2px;border-width:0;color:gray;background-color:gray
  } 

/* for FORMS --> */
.mini-container-form {
    margin: auto;
    padding: 5px;
    text-align: center;
}

/* for the headers in the footer */

/* Regular Styling- DO NOT TOUCH */
/* Anything above and below have been coded and are new in 2023 */
.form-container {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: var(--rich-black);
    /* margin-right: 5em; */
}

.form-container input[type=text],
.form-container input[type=number],
.form-container input[type=email],
.form-container textarea,
.form-container input[type=password],
.form-container label,
.form-container select {
    box-sizing: border-box;
    width: 75%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: .2em;
    color: var(--black-chocolate);
    display: flex;
    justify-content: space-evenly;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:var(--cosmic-latte);
}
  
.no-outline:focus {
    outline: none;
}


.nav-button, input[type="submit"]{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: var(--medium-purple);
    background-color: var(--naples-yellow);
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
}

.nav-button:hover{
    background: solid 5px var(--rich-black);
    background-color: var(--gold-crayola);
}

/* OG 2022 */
/* delete alert buttons */
.delete-button, button[type="submit"] {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding:.9rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--hot-pink);
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
}

/* for disabled buttons- maintenance */
.block-button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding:.9rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--cosmic-latte);
    font-family: 'Fredericka the Great', cursive;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}
/* 404 */
.error-button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding:.9rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--electric-blue);
    font-family: 'Fredericka the Great', cursive;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.yellow-button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding:.9rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--medium-champagne);
    font-family: 'Fredericka the Great', cursive;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
}

/* for the section containing the button */
.center-button {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 


/* PHOTO GALLERY */
/* Cards for People */
.card {
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    width: 60%;
    max-width: 300px;
    padding: 2.5%;
    border-radius: 5px;
    align-content: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 0.25s ease-in-out;
  }
.card-nudge {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
/* Card Colors */
.mint {
    background-color: var(--magic-mint);
}

.emerald {
    background-color: var(--emerald);
}

.vivid-sky-blue {
    background-color: var(--vivid-sky-blue);
}

.gold-crayola {
    background-color: var(--gold-crayola);
}

.hot-pink {
    background-color: var(--hot-pink);
}

.naples-yellow {
    background-color: var(--naples-yellow);
}

.medium-champagne {
    background-color: var(--medium-champagne);
}

.light-steel-blue {
    background-color: var(--light-steel-blue);
}

.cosmic-latte {
    background-color: var(--cosmic-latte);
}

.cornflower-blue {
    background-color: var(--cornflower--blue);
}

.blue-munsell {
    background-color: var(--blue-munsell);
}

.electric-blue {
    background-color: var(--electric-blue);
}

.medium-purple {
    background-color: var(--medium-purple);
}

.orchid-crayola {
    background-color: var(--orchid-crayola);
}

/* end card colors */
.card:hover {
box-shadow: 0 8px 16px 0;
}

img:template {
    border-radius: 5px 5px 0 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
/* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; */
}

.card-container {
    padding: 5px 10px;
    width: 60%;
/* 25 - good for mobile, not desktop, maybe if more cards? */
/* 57 - the size that works on both*/
    height: 10%;
    text-align: center;
    font-size: 1.45rem;
    color: var(--rich-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Font Awesome */
fa-brands {
    background-color: var(--medium-champagne);
    color: var(--electric-blue);
    list-style-type: none;
    text-align: center;
    padding: 0%;
    width: 10%;
    height: 20%;
}

fa-solid {
    color: var(--hot-pink);
}

.nav.bar li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}
/* for the headers in the footer */
.mini-container {
    margin: auto;
    padding: 10px;
    text-align: center;
    border: solid 5px var(--blue-munsell);
    background-color: var(--cosmic-latte);
    color: var(--rich-black);
} 

/* Scrolling */
.scroll-button {
    display: none;
    position: fixed;
    bottom: 20px;
    /* left: 30px; */
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--electric-blue);
    color: var(--rich-black);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
.scroll-button:hover {
    color: var(--blue-munsell);
    font-weight: bold;
}

.scroll-action {
    padding: 30px 30px 100px;
}

/* For the intermediate header in Photo Gallery */
.title-tinker {
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    font-style: italic;
    font-family: 'Fredericka the Great', cursive;
}

/* FOR THE P TAGS */
.center-text-paragraph {
    text-align: center;
    word-wrap: break-word;
} 

.expansion {
    font-size: 1.8rem;
}

.minor-expansion {
    font-size: 1.3rem;
}

/* removes the bullet points */
.center-text-line-items > li {
    list-style-type: none;
    text-align: center;
    padding: 0%;
} 

.left-text-line-items > li {
    list-style-type: none;
    text-align: left;
    padding: 0%;
} 
/* removes the bullet points */

/* colored text */
.vivid-sky-blue-text {
    color: var(--vivid-sky-blue);
}

.hot-pink-text {
    color: var(--hot-pink);
}

/* image config */
.photo-image {
    width: 35%;
    padding: 0%;
    height: 20%;
}

.photo-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* link styling */

.link-styling {
    padding: 0.2%;
}

.link-styling a:link {
    color: var(--rich-black);
    text-decoration: none;
}

.link-styling a:visited {
    color: var(--rich-black);
    text-decoration: none;
}

.link-styling a:hover {
    color: var(--blue-munsell);
    font-weight: bold;
}

.link-styling a:active {
    color: var(--cosmic-latte);
    background-color: var(--hot-pink);
    font-weight: bold;
} 

/* Footer Links */
.link-styling-footer a:hover {
    color: var(--gold-crayola);
    font-weight: bold;
}

.link-styling-footer a:active {
    color: var(--cosmic-latte);
    background-color: var(--hot-pink);
    font-weight: bold;
} 

.bold {
    font-weight: bold;
}

.border {
    list-style-type: none;
    text-align: left;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* end stylesheet */

/* START DEBUGGING media queries - make sure that you move to the bottom re: cascading*/

/* add to mobile media */
.right-text > li {
    list-style-type: none;
    text-align: right;
    padding-right: 5%;
} 


/* Hamburger JS outside media query - works */
header {
    display: flex;
}
 
 /* hides the menu when it's desktop */
a.menu {
    display: none;
}
 
 /* styling the hamburger menu */
.hamburger {
    overflow: visible;
    position: relative;
    padding: 14px;
    display: flex;
    /* display: none; */
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: transparent;
    border: 0;
    color: var(--white);
    font-size: 20px;
}

/* END MEDIA QUERIES */

/* triggers mobile responsiveness but not for head or footer */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-size: 1.4rem;
    /* height: auto; */
    /* background-image: linear-gradient(var(--electric-blue), var(--blue-munsell)); */
    font-family: 'Roboto', sans-serif; 
    /* addition */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* affects the header and the logo */
header {
    background-color: var(--hot-pink);
    width: auto;
    padding-left: 25px; 
    border-bottom: solid 5px var(--rich-black);
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    /* height: 300px; */
}

/* .center-text */
h1 {
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    font-style: italic;
    font-family: 'Fredericka the Great', cursive;
} 

/* .center-text */
h2, p { 
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    /* font-size: 1.1rem; */
    font-family: 'Roboto', sans-serif;
}

/* .center-text */
/* seeing how removing p looks for formatting on all pages */
h2 { 
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    /* font-size: 1.1rem; */
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: var(--hot-pink);
    width: 100%;
    height: auto;
    color: var(--rich-black);
    /* padding-left: 2.5%; */
    font-size: 1rem;
    border-top: solid 5px var(--rich-black);
    font-family: 'Roboto', sans-serif;
}

/* for card headers */
h3 {
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    font-style: italic;
    font-family: 'Fredericka the Great', cursive;
    color: var(--blue-munsell);
} 


hr { 
    /* display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; */
    border: none;
    border-top: 3px double var(--cornflower-blue);
    color: var(--cornflower-blue);
    height: 5px;
    overflow: visible;
    text-align: center;
} 

hr::after {
    /* background-color: var(--black-chocolate); */
    content: '§';
    /* Docs: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr  */
    padding: 0 4px;
    position: relative;
    top: -13px;
}

fieldset {
    display: block;
    /* border-color: var(--cosmic-latte); */
    border: 0 none;
}

/* Media Query --> specific parameters for css code to operate in */
/* Mobile Design [mobile container] */
@media screen and (min-width: 320px) and (max-width: 768px) {

/* header {
    display: block;
}   */
header .header-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
/* this is the link for the hamburger button */
a.menu {
    display: block;
    color: var(--white);
    position: fixed;
    right: 0;
    top: 0;
    padding: 0.5rem 1rem;
}

/* Mobile Responsiveness for large items, use with content-container-2 */
.side-scroll-mobile {
    display: flex;
    overflow-y: scroll;
    overflow-x: auto;
    border: solid 5px var(--yellow);
}

.mobile-container {
    max-width: 768px;
    /* margin: auto; */
    height: 150px;
    color:var(--cosmic-latte);
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
    /* display: flex; */
}

.open-sesame {
    display: none;
}

.mobile-container > .nav-bar {
    display: none;
}

.nav-bar-list {
    display: flex;
    /* make titles shorter */
    flex-direction: row;
    /* used to be column for longer titles */
    align-items: flex-start;     /* items are aligned to the left */
}
.nav-bar-list a {
    margin: 20px 15px;
}
.nav-bar-list a:hover {
    color: var(--medium-champagne);
}

.mobile-container > .hamburger {
    overflow: visible;
    position: relative;
    padding: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120px;
    width: auto;
}

/* targets all the elements under the border */
.border > div {
    /* background-color: var(--blue-munsell); */
    height: auto;
    color: var(--black-chocolate);
    /* min-width: 320px; */
    min-width: fit-content;
    margin: auto;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

}


  
/* Tablet Design [hamburger] */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.hamburger {
    overflow: hidden;
    position: relative;
    display: none; 
    }
}


/* end DEBUGGING */