<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>404- Error</title>

<!-- Info: https://www.portent.com/blog/seo/create-a-great-404-page.htm -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>404 - Page Not Found</h1>
        <br>
        <p class="mini-expansion">The content that you are looking for isn't here, unfortunately. </p>
        <br>
        <section class="center-button">
            <button class="error-button link-styling">
                <a href="/">Back to Site Index</a>
            </button>
        </section>
    </section>
    <!-- search bar functionality -->
</div>