<%- include('../partials/error-head') -%> 
<!-- Insert error-header.ejs -->
<!-- errorAlert the body tag when the page loads so the user is notified -->

<title>500- Server Side Error</title>

<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>500- Server Side Error</h1>
        <br>
        <section class="content-container-3 cosmic-latte">
            <p class="expansion">The content that you are looking for isn't here, unfortunately.</p>
            <p class="minor-expansion"> Server side errors occur when a failure to render a page falls on the server. A large spike in 500 or 503 errors could indicate the inability for the site's web hosting and server to manage the requirements of the site, resulting in downtime for visitors.</p>
        </section>
        <br>
        <section class="center-button">
            <button class="error-button link-styling">
                <a href="/">Back to Site Index</a>
            </button>
        </section>
        </section>
        
    </section>
    <!-- search bar functionality -->
</div>

<!-- Server side errors occur when a failure to render a page falls on the server. A large spike in 500 or 503 errors could indicate the inability for the site's web hosting and server to manage the requirements of the site, resulting in downtime for visitors. -->
<!-- https://know.magneticcreative.com/server-side-errors -->