<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Admin Console Page</h1>
    </section>
    <section class="content-container-2">
        <div class="content-container-3 card naples-yellow">
            <p>Welcome to the Admin Console!</p>
            <img src="./img/pexels-jan-van-bizar-12485504.jpg" alt="a picture of a black and white file cabinet">
        </div> 
        <div class="content-container-3 card vivid-sky-blue">
            <!-- <a href="/admin/outreach-log"> -->
            <h2>Outreach</h2></a>
        </div>
    </section>
    <section class="content-container-3">
        <div class="center-button">
            <button class="yellow-button link-styling" >
                <a href="/login" role="button">Logout</a>
            </button>
        </div>
    </section>
</div>
<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 