<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Capstone Projects</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1> Capstone Projects</h1>
    </section>

<%- include('../partials/project-start') -%> 

    <section class="content-container-2 naples-yellow">
        <h2>2025 Capstone Candidates</p>
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Fall R.</p>
            <p class="mini-expansion">Geographic Area of Focus: Denver, CO</p>
        </div>
        <!-- <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">Project Title</p>
        </div> -->
        <img src="/img/contact.png" class= "photo-image" alt="a sign that points in two directions">
        <br>
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">Presentation</p>
            <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once. You can click the three dots to view the presentation full screen.</p>
        </div>
        <section class="content-container-2 side-scroll-mobile cosmic-latte bold link-styling">
        <!-- insert iframe code -->
            
        </section>
        </section>
        <!-- end -->
        <!-- start -->
        <section class="content-container-2 mint">
            <div class="content-container-3 vivid-sky-blue">
                <p class="expansion">James H-B</p>
                <p class="mini-expansion">Geographic Area of Focus: D.C. Area</p>
            </div>
            <!-- <div class="content-container-3 cosmic-latte">
                <p class="mini-expansion">Project Title</p>
            </div> -->
            <img src="/img/knowing.png" class= "photo-image" alt="a sign that points in two directions">
            <br>
            <div class="content-container-3 cosmic-latte">
                <p class="mini-expansion">Presentation</p>
                <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once. You can click the three dots to view the presentation full screen.</p>
            </div>
            <section class="content-container-2 side-scroll-mobile cosmic-latte bold link-styling">
            <!-- insert iframe code -->
                
            </section>
        </section>
        <!-- end -->
          <!-- start -->
        <section class="content-container-2 mint">
            <div class="content-container-3 vivid-sky-blue">
                <p class="expansion">Sunshine P.</p>
                <p class="mini-expansion">Geographic Area of Focus: Denver, CO</p>
            </div>
            <!-- <div class="content-container-3 cosmic-latte">
                <p class="mini-expansion">Project Title</p>
            </div> -->
            <img src="/img/learning.png" class= "photo-image" alt="a sign that points in two directions">
            <br>
            <div class="content-container-3 cosmic-latte">
                <p class="mini-expansion">Presentation</p>
                <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once. You can click the three dots to view the presentation full screen.</p>
            </div>
            <section class="content-container-2 side-scroll-mobile cosmic-latte bold link-styling">
            <!-- insert iframe code -->
              
            </section>
            </section>
            <!-- end -->
    </section>

</div>

<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 