<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Capstone Projects</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1> Capstone Projects</h1>
    </section>

<%- include('../partials/project-start') -%> 

 <!-- start Tim -->
 <section class="content-container-2 mint">
    <div class="content-container-3 vivid-sky-blue">
        <p class="expansion">Tim C.</p>
        <p class="mini-expansion">Geographic Area of Focus: Austin, TX and Albany, NY</p>
    </div>
    <!-- <div class="content-container-3 cosmic-latte">
        <p class="mini-expansion">Project Title</p>
    </div> -->
    <img src="/img/contact.png" class= "photo-image" alt="a sign that points in two directions">
</section>
<!-- end Tim -->
<!-- start Chelsea -->
<section class="content-container-2 mint">
    <div class="content-container-3 vivid-sky-blue">
        <p class="expansion">Chelsea C.</p>
        <p class="mini-expansion">Geographic Area of Focus: Vermont</p>
    </div>
    <!-- <div class="content-container-3 cosmic-latte">
        <p class="mini-expansion">Project Title</p>
    </div> -->
    <img src="/img/contact.png" class= "photo-image" alt="a sign that points in two directions">
</section>
</div>