<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Class Interest and Sign-Up for A.P. Cohort 2023 - Fundamentals of Transformative Justice</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Class Interest and Sign-Up for A.P. Cohort 2023 - Fundamentals of Transformative Justice</h1>
    </section>
     <!-- Section about summer projects -->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Content</p></a>
        </div>
        <img src="/img/" class= "photo-image" alt="">
    </section>
    <!-- add more sections -->
    <section>
        <h2 class = "mini-container">Learn More About Class Structure</h2>
        <p>["Creativity is intelligence having fun- Albert Einstein"]</p>
        <p class="center-text-paragraph">
            <div class="left-text-line-items link-styling">
                <a href="https://drive.google.com/file/d/1F7Sz3FpdzJBCOThbBafvoep5-TJe4bAa/view?usp=sharing">What Does A Semester Look Like?</a>
                <br>
                <br>
                <a href="https://drive.google.com/file/d/1EkPoyHAEbcaJmcYXwtWDKBALR7MQsAVe/view?usp=sharing">The Class Structure and Learning Flow</a>
                <br>
                <br>
                <a href="https://drive.google.com/file/d/17W76TYyAHockF7H3ODf9ud2MWL_0QjV4/view?usp=sharing">What Is The Impact After A Year Of Classes?</a>
                <br>
                <br>
                <!--NEW/V.2  calendly? -> make new calendly -->
                <a href="https://calendly.com/kit-tj-services">Interested in Becoming A Student? Book a Meeting with the Instructor</a>
            </div>
        </p>
    </section>
    
    <!-- end sections -->
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 