<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Client Training and Preparation</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<!-- add alt TAGS before moving to main -->

<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Client Training and Preparation</h1>
        <br>
        <p class="minor-expansion">Section about how students get trained re: clients. </p>
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">1. Client Connection</p></a>
        </div>
        <img src="/img/contact.png" class= "photo-image" alt="a logo for contact, a sign pointing in 2 different directions">
        <div class="content-container-3 emerald">
            <p>The instructor receives a client outreach via email/or a booking form.</p>
        </div>
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">2. Co-Mentor Cross Talks & Student Enrichment</p></a>
        </div>
        <img src="/img/boxhead.jpg" class= "photo-image" alt="a person with a box on their head that says BRAIN and a red word IDEA is hovering over the boxhead person">
        <div class="content-container-3 emerald">
            <p>The instructor may screen the message with one of their trained mentors/decide if the message would be beneficial for students. All information is redacted for client security and confidentiality, and names are changed.</p>
        </div>
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">3. Cohort Collaboration and Discussion</p></a>
        </div>
        <img src="/img/learning.png" class= "photo-image" alt="a few sheets of paper and a pen as a logo">
        <div class="content-container-3 emerald">
            <p>Students use discernment, neutrality, training and the knowledge of class concepts across semesters to compose a response to the client within our Facebook chat cohort "classroom" for cross-class examination, input and appending classmate responses for client needs and compassion satisfaction. </p>
        </div>
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">4. Client Response and Intake</p>
        </div>
        <img src="/img/knowing.png" class= "photo-image" alt="a hourglass with arrows pointing upwards">
        <div class="content-container-3 emerald">
            <p>Independently of this, the instructor responds to the client within 72 hours to gauge the scope of the process, onboard the client as well as engage in preliminary interviews regarding the scenario.</p>
            <p class="minor-expansion"> Note: when students graduate by receiving all 3 certificates from each semester (Beginner: Fundamentals of Transformative Justice, Intermediate: Restorative Justice & Facilitation Theory via Research Integration and Advanced: Critical Race Theory & Global Dynamics Capstone), they will have post-grad supervision and mentorship from the instructor in order to have intentional practice in student communities via their PPP.</p>
        </div>
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">5. Radical Possibility Modeling & Onboarding the Client</p>
        </div>
        <img src="/img/selling.png" class= "photo-image" alt="a trio of people chatting as a logo">
        <div class="content-container-3 emerald">
            <p>Students are then able to see where different morals, values and ethics arise in real time from their classmates for further discussion and learning. The instructor will model what an appropriate, affirming response is. </p>
            <p class="minor-expansion">Note 2: students will get training within the Intermediate semester as well as future cohort feedback & integration at the end of the semester will shape how this forms. For the advanced semester, community and client outreach components are folded in the course to allow for successful deployment of their year long community-based projects.</p>
        </div>
    </section>
    <!-- add more sections -->
    <!-- Documentation: https://support.google.com/docs/answer/183965#embed_files&zippy=%2Cembed-a-document-spreadsheet-or-presentation -->
    <!--NEW/V.2  add brochure -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
           <p>Client Brochure</p>
        </div>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vTvNLt4iWdZ7uFwCLRrh7sph5KhzS0kgKr3cK20CayqLFphRamsjKiTdjtiS7MnvvNfke-tL3xHqZ-Y/pub?embedded=true" width="750px" height="500px"></iframe>
    </section>
    <!-- end sections -->
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 