<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Client Training and Preparation</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Client Training and Preparation</h1>
    </section>
     <!-- Section about how students get trained re: clients. 
    1. the instructor receives a client outreach via email/or a booking form
2. the instructor will screen the message with one of their trained mentors/decide if the message would be beneficial for students. All information is redacted for client security and confidentiality, and names are changed.
3. students use discernment, neutrality, training and the knowledge  to compose a response to the client within our Facebook chat cohort "classroom" for cross-class examination, input and appending classmate responses
4. Independently of this, the instructor responds to the client within 72 hours to gauge the scope of the process, onboard the client as well as engage in preliminary interviews regarding the scenario.
Note: when students graduate by receiving all 3 certificates from each semester (Beginner: Fundamentals of Transformative Justice, Intermediate: Restorative Justice & Facilitation Theory via Research Integration and Advanced: Critical Race Theory & Global Dynamics Capstone)
5. Students are then able to see where different morals, values and ethics arise in real time from their classmates for further discussion and learning. The instructor will model what an appropriate, affirming response is. 

Note 2: students will get training within the Intermediate semester as well as future cohort feedback & integration at the end of the semester will shape how this forms. For the advanced semester, community and client outreach components are folded in the course to allow for successful deployment of their year long community-based projects.-->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Content</p></a>
        </div>
        <img src="/img/" class= "photo-image" alt="">
    </section>
    <!-- add more sections -->
    <section>
        <!-- Documentation: https://support.google.com/docs/answer/183965#embed_files&zippy=%2Cembed-a-document-spreadsheet-or-presentation -->
        <!--NEW/V.2  add brochure -->
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vTvNLt4iWdZ7uFwCLRrh7sph5KhzS0kgKr3cK20CayqLFphRamsjKiTdjtiS7MnvvNfke-tL3xHqZ-Y/pub?embedded=true"></iframe>
    </section>

    <!-- end sections -->
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 