<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Photo Gallery of Practitioners: 2024/2025 Cohort</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->

<!-- Jan '23 cohort' -->
<%- include('../partials/cohort-24-25-photo.ejs') -%>

<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 