<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Contact Us</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-2 naples-yellow">
    <h1>Contact Us Page</h1>
    </section>
    <section class = "content-container-2">
        <!-- <a href="./contactus"></a><img src="/img/contact-us.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips."> -->
        <div class="content-container-3 cosmic-latte">
            <p>Hello, you've reached our contact page!</p>
            <p>Please see our parameters of outreach and let's coordinate a meeting!</p>
            <p>If you need immediate assistance, please see the</p>
            <p>"Collaborate & Capacity Build" Link in the bottom of the document to book Kit.</p>
            <hr>
            <p class="link-styling" >Note re: <a href="https://uwm.edu/lgbtrc/support/gender-pronouns/">gender pronouns</a></p>
        </div>
    </section>
    
    <h2 class = "content-container-2 naples-yellow title-tinker">Schedule Meeting with a Practitioner :]</h2>
    <section class="content-container-2 side-scroll-mobile naples-yellow">
        <div class="card mint">
            <a href="https://calendly.com/kit-tj-services"><img src="/img/KIT.jpeg" class="template" alt="a picture of Kit, a Black woman smiling with a Black dress and flowers of varying colors, with a red rose in their right ear"></a>
            <div class="card-container">
                <h3><b>Kit Fenrir Amreik (they/she)</b></h3> 
                <br>
                    <p> Email: kitdamreik
                        @gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: anytime from 10am-7pm MT </p>  
            </div>
        </div>
        <div class="card vivid-sky-blue">
            <a href="https://www.linkedin.com/in/yesinia-clary-washington-595547180/"><img src="/img/YESI.jpeg" class="template" alt="a picture of Yesinia JJ, a Black person wearing a cap and gown in her graduation ceremony"></a>
            <div class="card-container">
                <h3><b>Yesinia JJ (pronoun agnostic)</b></h3> 
                <br>
                    <p> Email: feel free to reach out to Kit</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: on case-by-case basis as shadowing occurs</p>   
            </div>
        </div>
        <div class="card gold-crayola">
            <a href="./contactus"><img src="/img/KRIS.jpg" class="template" alt="a picture of Kristopher JT Toma-Lee, a 35 y/o genderqueer trans guy from Massachusetts. They are holding their phone, wearing a black undershirt and a green and blue shirt."></a>
            <div class="card-container">
                <h3><b>Kristopher JT Toma-Lee (they/he)</b></h3> 
                <br>
                    <p> Email: Rainbowtardis
                        @gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: M-F: 4:30-7pm, Sat 1-6pm EST </p>  
            </div>
        </div>
        <div class="card medium-purple">
            <a href="./contactus"><img src="/img/CHELSEA.JPEG" class="template" alt="a picture of Chelsea Colby, a White person against a grey background, wearing a blue sweater, and smiling with leopard print glasses."></a>
            <div class="card-container">
                <h3><b>Chelsea Colby (she/they)</b></h3> 
                <br>
                    <p> Email: chelsea23lynn
                        @gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: depends on the time of year TBH but I'd say generally 3 PM - 6 PM </p>  
            </div>
        </div>
        <div class="card orchid-crayola">
            <a href="https://www.linkedin.com/in/cori-falco-5b8887a5/"><img src="/img/CORI.jpeg" class="template" alt="a picture of Cori Falco, a White person with makeup on against a beach background, smiling with a light blue floral top"></a>
            <div class="card-container">
                <h3><b>Cori Falco (she/her)</b></h3> 
                <br>
                    <p> Email: corifalco
                        @gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: general availability - evenings after 6 pm EST </p>  
            </div>
        </div>
        <div class="card mint">
            <a href="./contactus"><img src="/img/RACHEL.JPG" class="template" alt="a picture of Rachel Freed Sussman, a White person smiling and snuggled in a blanket against a beach background">
            <div class="card-container"></a>
                <h3><b>Rachel Freed Sussman (any pronoun)</b></h3> 
                <br>
                    <p> Email: rachelsussman
                        114@gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: Please email!</p>  
            </div>
        </div>
        <div class="card vivid-sky-blue">
            <a href="https://www.linkedin.com/in/theresa-yannetty-1a799944/"><img src="/img/THERESA.jpg" class="template" alt="a picture of Theresa Yannetty, a White person smiling with light makeup coupled with a stuffed animal in a chair">
            <div class="card-container"></a>
                <h3><b>Theresa Yannetty (she/her)</b></h3> 
                <br>
                    <p> Email: tyannetty
                        @gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: Between 9 and noon, then 2 and 5, EST </p>  
            </div>
        </div>
        <div class="card gold-crayola">
            <a href="./contactus"><img src="/img/TIM.jpg" class="template" alt="a picture of Timothy Scott Crumley, a White person smiling with a blue shirt, crosslegged against a neutral background"></a>
            <div class="card-container">
                <h3><b>Timothy Scott Crumley (he/him)</b></h3> 
                <br>
                    <p> Email: timothycrumley
                        @gmail.com</p> 
                    <p> Phone: [###-###-####] </p>
                    <p> Best Time to Reach: early afternoon during the week, should respond by the end of the day, within 24 hours at the latest. </p>  
            </div>
        </div>
    </section>
</div>
<!-- Insert grad-form.ejs for the 2023 grads -->
<%- include('../partials/grad-form') -%> 


<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 
