<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<!-- v.2: USE setTimer.ejs partial to render a welcome message after 6 seconds of loading -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->

    <section class="content-container-2 inverse-yellow">
        <h1>Instructor Showcase</h1>
        <br>
    </section>
    <section class="content-container-2 cosmic-latte">
        <p class="mini-expansion">Hello and welcome! This is where you can follow all of the updates that have been done to build this directory out for the whole world to see! </p>
    </section>
    <!-- DO NOT MODIFY ABOVE THIS POINT -->
    <!-- 

    <section class="content-container-2">
       <div class="content-container-3">Portfolio...</div>
   </section> 

     -->

   <section>
    <div class="content-container-2 inverse-blue">
        <a href="./intro-with-kit">
        <p class="expansion content-container-3 vivid-sky-blue">Introduction with Kit</p></a>
        <img src="./img/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
    </div>
   </section>
   <%-   include('../partials/minty-mentors') -%>
   
    <!-- add more sections/features above this line -->
    <!-- DO NOT MODIFY PAST THIS POINT -->

<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 
