<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Form Submission</title>
<%- include('../partials/admin-nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1>You Submitted a Form! Hooray! :D</h1>
    </section>
    <section class="content-container-2 light-steel-blue">
        <p class="mini-expansion bold">Hello! You've been redirected here because there you submitted an entry. The site administrator will get back to you regarding your inquiry. Thank you! </p>
    </section>
    <br>
    <section class="content-container-3 vivid-sky-blue">
        <div class="center-button">
            <button class="yellow-button link-styling">
                <a href="/">Back to Site Index</a>
            </button>
        </div>
        <div class="center-button">
            <button class="yellow-button link-styling">
                <a href="/login">Back to Login for Admins</a>
            </button>
        </div>
    </section>
    
    <!-- search bar functionality -->
</div>