<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Graduate Projects</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1>Graduate Projects</h1>
    </section>
    <%- include('../partials/project-start') -%> 
    <section class="content-container-2 naples-yellow">
        <h2>2023 Graduates</p>
    </section>
     <!-- Student Projects -->
     <!-- start Tim -->
    <section class="content-container-2 mint">
    <div class="content-container-3 vivid-sky-blue">
        <p class="expansion">Tim C.</p>
        <p class="mini-expansion">Geographic Area of Focus: Albany, NY</p>
    </div>
    <!-- <div class="content-container-3 cosmic-latte">
        <p class="mini-expansion">Project Title</p>
    </div> -->
    <img src="/img/contact.png" class= "photo-image" alt="a sign that points in two directions">
    <br>
    <div class="content-container-3 cosmic-latte">
        <p class="mini-expansion">Presentation</p>
        <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once. You can click the three dots to view the presentation full screen.</p>
    </div>
    <section class="content-container-2 side-scroll-mobile cosmic-latte bold link-styling">
    <!-- insert iframe code -->
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRUVjO_7jrDNcWU-EFymqPjzKoEy2_jfP6U3Gd3UdgQsG99rKJ1zZxP66xdACddLw/embed?start=true&loop=true&delayms=3000" frameborder="0" width="750" height="420" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </section>
    </section>
    <!-- end Tim -->
    <!-- start Chelsea -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Chelsea C.</p>
            <p class="mini-expansion">Geographic Area of Focus: Vermont</p>
        </div>
        <img src="/img/Colby-PPP-Presentation.png" class= "photo-image" alt="a sign that points in two directions">
        <!-- flyer/survey -->
        <br>
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">Presentation</p>
            <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once. You can click the three dots to view the presentation full screen.</p>
        </div>
        <section class="content-container-2 side-scroll-mobile cosmic-latte bold link-styling">
        <!-- insert iframe code -->
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSuXWkXdISKDG0CThERYSOPDz1-SPBhntLAtukPWTvZy321xZ0CYlvP4Kix4pOose_in-EDNKSCg4fD/embed?start=true&loop=true&delayms=3000" frameborder="0" width="750" height="420" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </section>

    </section>
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Theresa Y.</p>
            <p class="mini-expansion">Geographic Area of Focus: Norwood, MA/Greater Boston Areas</p>
        </div>
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">Gentrification in Project Centers</p>
        </div>
        <!-- disabled image -->
        <!-- <span>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcRVkz2pwsRq_dlTxAisupSsS7DBh5c8x32L9n1dXzPGtbtw/viewform "><img src="/img/Carelia.png" class= "photo-image-center" alt="a sign that points in two directions"></a>
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;border-radius: 8px; will-change: transform;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFRgBLG3R4&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>
            <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFRgBLG3R4&#x2F;view?utm_content=DAFRgBLG3R4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a> 
        </span> -->
         <!-- disabled image -->
        <br>
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">Presentation</p>
            <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once. You can click the three dots to view the presentation full screen.</p>
        </div>
        <section class="content-container-2 side-scroll-mobile cosmic-latte bold link-styling">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRkwe4LTWj5O1OkBCo1iN3LJi5DZaYuc72-gTls8fk_qebrVDT8o5646qMzGROyLjXQ97msX8JIgPnX/embed?start=false&loop=true&delayms=10000" frameborder="0" width="750" height="420" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            <!-- OG: width="960" height="569"  -->
            <!-- test: 750 width -->
            <!-- Functional code: width="480" height="420"  -->
            <!-- Mobile design: width="310" height="300" close  -->
            <!-- Mobile design: width="290" height="300" close  -->
        </section>
    </section>
    <!-- end Theresa -->
    <!-- start Cori -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Cori F.</p>
            <p class="mini-expansion">Geographic Area of Focus: Asbury Park, NJ</p>
        </div>
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">"The "U" In commUnity</p>
        </div>
        <span>
            <!-- survey IP 11/18 -->
            <!-- <a href=""></a> -->
            <img src="/img/cori-ppp.png" class= "photo-image-center" alt="Cori's survey as a picture and a QR code is present">
        </span>
        <br>
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">Presentation</p>
            <p class="mini-expansion">Click the right/left side to process/return accordingly. The slide show should progress automatically when you click on it once.</p>
        </div>
        <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;border-radius: 8px; will-change: transform;">
            <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE7tiNR9MM&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
            </iframe>
        </div>
        <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE7tiNR9MM&#x2F;view?utm_content=DAE7tiNR9MM&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"></a> 
    </section>
   <!-- end Cori -->
</div>


<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 