<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling ">
    <section class="content-container-2 naples-yellow">
        <h1>Index Page</h1>
        <br>
    </section>
    <section class="content-container-2 cosmic-latte">
        <p class="mini-expansion">Note that you can click Cookie, the Cat-Turtle Mascot, on top of any page to return to the index (aka the landing page of the app). </p>
    </section>
    <!-- DO NOT MODIFY ABOVE THIS POINT -->
    
    <section class="content-container-2 orchid-crayola bold link-styling">   
        <p class="mini-expansion">Carol, the former owner of the Bookstore is retiring, so check out changes soon. Students will learn how to manage the bookstore after training --> <a href="https://kit-class-bookstore.cyclic.app/">Check Out Our Book Collection that A.P. Students are reading this semester!</a> </p>
        
    </section>
    <!-- Maint: contact us, outreach form -->
    <!-- Color Scheme -->
     <!-- version 3 - blue, make index pages for the groups  -->
     <!-- 
        Test TJ and Answers - change into form
        Admin Side - cards like admin console
            Outreach detail
            outreach log
            update form

      -->
    <!-- CO Early access -->
    <section class="content-container-2 light-steel-blue">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./early-access">
                <!-- ./early-access in Feb -->
            <p>CO Early Access - Class Interest Sign-Up for 2023 - June </p></a> 
        </div>
        <img src="/img/gathering F.jpg" class= "photo-image" alt="a group of folks gathered around a table talking merrily">
        <div class="content-container-3 naples-yellow">
            <p>Folks that live in CO are allowed early access to apply for the June 2023 cohort. That special option will be available in February.</p>
        </div>
    </section>
     <!-- NEW/V.2 Section about class interest and sign ups -->
     <section class="content-container-2 light-steel-blue">
        <div class="content-container-3 vivid-sky-blue">
            <!-- <a href="./class-interest"> -->
            <a href="/">
            <p>Class Interest for A.P. Cohort June 2023 - Fundamentals of Transformative Justice</p></a> 
        </div>
        <img src="/img/cafe.jpg" class="photo-image-center" alt="a person is writing in their notebook and reading from another book, with a phone nearby as a timer and a cup of coffee.">
        <div class="content-container-3 cosmic-latte">
            <p>This option becomes available in March for everyone else and this page will change to update that. :]</p>
        </div>
    </section>
    <!-- NEW/V.2 Section about summer projects- deployed 11/18 -->
    <section class="content-container-2 gold-crayola">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./summer-projects">
            <p class="expansion">Review Semester: Summer Projects</p></a>
        </div>
        <img src="/img/about-stock.jpg" class= "photo-image" alt="a person is typing on their keyboard next to a backpack">
    </section>
    <!-- end -->
    <section class="content-container-2 gold-crayola">
        <div class="content-container-3 vivid-sky-blue">
            <a href="/">
            <p class="expansion">Site Updates from the Developer</p></a>
        </div>
        <img src="/img/dev.jpeg" class= "photo-image" alt="a person is typing on their keyboard next to a Python book">
    </section>
    <!-- add more sections/features above this line -->
    <!-- DO NOT MODIFY PAST THIS POINT -->
    <!-- TJ Quiz - disabled for version 2 -->
    <!-- <section class="content-container-2 naples-yellow">
        <div class="content-container-3 vivid-sky-blue">
            <a href="/tj-quiz">
            <p class="expansion">Test Your TJ Knowledge!</p></a>
        </div>
        <img src="/img/discussioncirclesec.jpeg" class= "photo-image" alt="a discussion of people sitting in a circle">
    </section> -->
    <!-- Photo -->
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./photogallery"><p class="expansion">Photo Gallery 2021-2023</p>
            </a>
        </div>
        <img src="/img/photo-gallery.png" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'.">
    </section>
     <section class="content-container-2 naples-yellow">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./map">
            <p class="expansion">Where are we in the world?</p></a>
        </div>
        <img src="/img/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
    </section>
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./videogallery">
            <p class="expansion">Video Showcase of Practitioners</p></a>
        </div>
        <img src="./img/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
    </section>
    <!-- add more sections/features BELOW this line -->
    <!-- New Year Feature: Danielle THC & Queen -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <!-- ./new-year -->
            <a href="./new-year"><p class="expansion">New Year Showcase! </p></a>
        </div>
        <img src="/img/fall-leaf.jpg" class= "photo-image" alt="a person standing in a puddle of water and with a vibrant fall leaf">
    </section>
    <!-- December mentor feature -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./mentor-features"><p class="expansion">December 2022: Mentor Feature</p></a>
        </div>
        <img src="/img/pink-flowers.jpg" class= "photo-image" alt="a set of pink flowers">
    </section>
    <!-- NEW/V.2 section about client training and preparation -->
    <section class="content-container-2 emerald">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./client-relations"><p class="expansion">Client Training and Preparation</p></a>
        </div>
        <img src="/img/fauxels.jpg" class= "photo-image" alt="a person of color extends a handshake with a white client">
    </section>
     <!-- end -->
     <section class="content-container-2 emerald">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./contactus">
            <p class="expansion">Contact Us</p></a>
        </div>
        <img src="/img/contact-us.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips.">
    </section>
    <!-- make a back end form page instead of footer, send to the admin console -->
    <section class="content-container-2 emerald">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./outreach-form">
            <p class="expansion">Outreach Form</p></a>
        </div>
        <img src="/img/anna-shvets.jpg" class= "photo-image" alt="a smiling Black woman in front of a computer">
    </section>
     <!-- end -->
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 

