<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<!-- v.2: USE setTimer.ejs partial to render a welcome message after 6 seconds of loading -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 inverse-yellow">
        <h1>Index Page</h1>
        <br>
    </section>
    <section class="content-container-2 cosmic-latte">
        <p class="mini-expansion">Note that you can click Cookie, the Cat-Turtle Mascot, on top of any page to return to the index (aka the landing page of the app). </p>
    </section>
    <!-- DO NOT MODIFY ABOVE THIS POINT -->

    <!-- 
        <section class="content-container-2 inverse-orchid bold link-styling">   
        <p class="mini-expansion">Carol, the former owner of the Bookstore is retiring, so check out changes soon. Students will learn how to manage the bookstore after training <a href="https://kit-class-bookstore.cyclic.app/">Check Out Our Book Collection that A.P. Students are reading throughout the program!</a> </p>
        </section>

     -->
    <!-- 
         <section class="content-container-2 inverse-blue">
        <div class="content-container-3 vivid-sky-blue">
        <a href="./class-interest">
        <p>Class Interest for A.P. Cohort January 2025 - Fundamentals of Transformative Justice</p></a> 
        </div>
        <img src="/img/cafe.jpg" class="photo-image-center" alt="a person is writing in their notebook and reading from another book, with a phone nearby as a timer and a cup of coffee.">
        <div class="content-container-3 cosmic-latte">
        <p>Registration is now OPEN!! The closing date is NOW March 15th! :]</p>
        </div>
        </section>
    -->
    
   <section class="content-container-2 gold-crayola">
    <div class="content-container-3 vivid-sky-blue">
        <a href="/index/course-register">
        <p class="expansion">Prospective Student Interest</p></a>
    </div>
    
    <img src="/img/class-flyer.jpeg" class= "photo-image-mini" alt="a explanation of the class in a flyer with the URL saying https://tinyurl.com/cohort2023">
    <div class="content-container-3 cosmic-latte">
        <p class="mini-expansion">Looking to join the next cycle of learning, but missed the deadline? Click this link and fill out the form to reserve a spot when there is another cycle. The instructor will reach out to interested people for the next cycle. </p>
    </div>
    </section>
    <section class="content-container-2 gold-crayola">
        <div class="content-container-3 vivid-sky-blue">
            <a href="/index/dev-updates">
            <p class="expansion">Site Updates from the Developer</p></a>
        </div>
        <img src="/img/dev.jpeg" class= "photo-image" alt="a person is typing on their keyboard next to a Python book">
    </section>
    <section class="content-container-2 medium-champagne link-styling"> 
        <div class="content-container-3 vivid-sky-blue">
            <a href="/index/student-directory">
            <p class="expansion">Student Directory</p></a> 
        </div>
        <img src="/img/discussioncirclesec.jpeg" class="photo-image" alt="a group of students in a circle discussing a topic">
    </section>
    <section class="content-container-2 inverse-orchid link-styling"> 
        <div class="content-container-3 vivid-sky-blue">
            <a href="/index/project-directory">
            <p class="expansion">Class Project Directory</p></a> 
        </div>
        <img src="/img/gathering F.jpg" class="photo-image" alt="a group of students having a pizza party and talking merrily">
    </section>

    <%- include('../partials/emerald-connect') -%>
   
    <!-- add more sections/features above this line -->
    <!-- DO NOT MODIFY PAST THIS POINT -->

</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 

