<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Index Page</h1>
    </section>
     <!-- Section about summer projects -->

     <!-- end -->
     <!-- Section about class interest -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./map">
            <p class="expansion">Community Mapping</p></a>
        </div>
        <img src="/img/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./photogallery"><p class="expansion">Photo Gallery</p>
            </a>
        </div>
        <img src="/img/photo-gallery.png" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'.">
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./videogallery">
            <p class="expansion">Video Showcase of Practitioners</p></a>
        </div>
        <img src="./img/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
    </section>
    <!-- showcase section -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./juneteenth-showcase">
            <p class="expansion">June: Showcase! </p></a>
        </div>
        <img src="/img/YESI.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips.">
    </section>
    <!-- end -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./contactus">
            <p class="expansion">Contact Us</p></a>
        </div>
        <img src="/img/contact-us.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips.">
    </section>
    <!-- make a back end form page instead of footer, send to the admin console -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./outreach-form">
            <p class="expansion">Outreach Form</p></a>
        </div>
        <img src="/img/anna-shvets.jpg" class= "photo-image" alt="a smiling Black woman in front of a computer">
    </section>
     <!-- add more sections/features above this line -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="/tj-quiz">
            <p class="expansion">Test Your TJ Knowledge!</p></a>
        </div>
        <img src="/img/discussioncirclesec.jpeg" class= "photo-image" alt="a discussion of people sitting in a circle">
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 

