<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Index Page</h1>
        <br>
        <p class="mini-expansion">Note that you can click Cookie, the Cat-Turtle Mascot, on top of any page to return to the index (aka the landing page of the app). </p>
    </section>
    <!-- DO NOT MODIFY ABOVE THIS POINT -->
     <!-- NEW/V.2 Section about class interest and sign ups -->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <!-- <a href="./class-interest"> -->
            <a href="/">
            <p class="expansion">March 2023 -Class Interest and Sign-Up for A.P. Cohort 2023 - Fundamentals of Transformative Justice</p></a> 
        </div>
        <img src="/img/gathering F.jpg" class= "photo-image" alt="a group of folks gathered around a table talking merrily">
        <div class="content-container-3 cosmic-latte">
            <p>This option becomes available in March and this page will change to update that. :]</p>
        </div>
        
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="/tj-quiz">
            <p class="expansion">Test Your TJ Knowledge!</p></a>
        </div>
        <img src="/img/discussioncirclesec.jpeg" class= "photo-image" alt="a discussion of people sitting in a circle">
    </section>
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./photogallery"><p class="expansion">Photo Gallery</p>
            </a>
        </div>
        <img src="/img/photo-gallery.png" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'.">
    </section>
    <!-- New Year Feature -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <!-- <a href="./holiday-feature"> -->
            <a href="/"><p class="expansion">New Year Showcase! </p></a>
        </div>
        <img src="/img/fall-leaf.jpg" class= "photo-image" alt="a person standing in a puddle of water and with a vibrant fall leaf">
        <div class="content-container-3 cosmic-latte">
            <p class="mini-expansion">The site admin is working on composing this page as of November 30, 2022 for deployment ASAP. This message will disappear when the site is accessible. Thank you!</p>
        </div>
    </section>

    <!-- December mentor feature -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./mentor-features"><p class="expansion">December 2023: Mentor Feature</p></a>
        </div>
        <img src="/img/pink-flowers.jpg" class= "photo-image" alt="a set of pink flowers">
    </section>

    <!-- NEW/V.2 Section about summer projects- deployed 11/18 -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./summer-projects">
            <p class="expansion">Review Semester: Summer Projects</p></a>
        </div>
        <img src="/img/about-stock.jpg" class= "photo-image" alt="a person is typing on their keyboard next to a backpack">
    </section>
    <!-- end -->


    <!-- add more sections/features above this line -->
    <!-- DO NOT MODIFY PAST THIS POINT -->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./map">
            <p class="expansion">Community Mapping</p></a>
        </div>
        <img src="/img/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
    </section>
    <!-- NEW/V.2 section about client training and preparation -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./client-relations"><p class="expansion">Client Training and Preparation</p></a>
        </div>
        <img src="/img/fauxels.jpg" class= "photo-image" alt="a person of color extends a handshake with a white client">
    </section>
     <!-- end -->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./contactus">
            <p class="expansion">Contact Us</p></a>
        </div>
        <img src="/img/contact-us.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips.">
    </section>
    
    <!-- make a back end form page instead of footer, send to the admin console -->
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./outreach-form">
            <p class="expansion">Outreach Form</p></a>
        </div>
        <img src="/img/anna-shvets.jpg" class= "photo-image" alt="a smiling Black woman in front of a computer">
    </section>
    
    <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <a href="./videogallery">
            <p class="expansion">Video Showcase of Practitioners</p></a>
        </div>
        <img src="./img/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
    </section>
    
    
     <!-- end -->
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 

