<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Intermediate Projects</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1>Intermediate Projects</h1>
    </section>
    <%- include('../partials/project-start') -%> 
    <section class="content-container-2 naples-yellow">
        <h2>2026 Candidates</p>
    </section>
     <!-- Student Projects -->
    <!-- start -->
   
</div>
