<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Showcase of the Month Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling side-scroll-mobile">
    <section class="content-container-section">
        <h1>Monthly Showcase - Juneteenth Highlight! </h1>
    </section>
    <section class="content-container-2 vivid-sky-blue link-styling ">
        <section class="content-container-section center-text-paragraph">
            <h2>Writer and Practitioner Showcase: Celebrating Yesinia</h2>
            <img src="/img/YESI.jpeg" class="photo-image" alt="a picture of Yesinia JJ, a Black person wearing a cap and gown in her graduation ceremony">
            <br>
        </section>
            <div class="card light-steel-blue">
                <div class="card-container ">
                    <h3><b>"Are you listening"</b></h3>
                    <br>
                    <p>by Yesinia</p>
                </div>
            </div>
            <div class="card cosmic-latte">
                <div class="card-container ">
                    <h3><b>Quote from the Writer: </b></h3>
                    <br>
                    <p>"This poem shows the importance of Transformative Justice because it shows you of you take your head out of your ass and actually listen to people's problems and take accountability for your actions you can actually save a life. " </p>
                </div>
            </div>
    </section>
    <section class="content-container-2 gold-crayola link-styling">
        <section class="content-container-section center-text-paragraph"> 
            <h2>A Foreword: 
                <br>
            Connecting In-Class Concepts</h2>
            <img src="/img/KIT.jpeg" class="photo-image" alt="a picture of Kit, a Black woman smiling with a Black dress and flowers of varying colors, with a red rose in their right ear">
            <br>
        </section>
        <div class="card orchid-crayola">
            <div class="card-container">
                <h3 class="expansion"><b>CW/TW:</b></h3>
                <br>
                <p class="expansion">violence, suicide, gun and death mention throughout:</p>
            </div>
        </div>
        <div class="content-container-section  cosmic-latte">
            <div class="center-text-paragraph">
                <h3><b>Brief Foreword</b></h3>
                <p>The reason that this poem has been showcased and spotlighted is due to the application of transformative justice and crisis response. We must take the word of those who are hurting and believe them at face value, while listening to their needs. When we do this for folks who may want to harm themselves, we create containers of compassion as well as engage in Psychological First Aid (PFA). Learn more <a href="https://www.apa.org/practice/programs/dmhi/psychological-first-aid">here:</a> about PFA.</p>
            </div>
        </div>
        
        <div class="content-container-section center-text-paragraph bold scroll-action">
            <strong>Please be advised there may be triggering content ahead. Viewers discretion is advised. </strong>
            
            <p class="link-styling">If you'd like to stop reading, please click here to go back to the index page: <a href = "https://tj-practitioner-directory.herokuapp.com/">https://tj-practitioner-directory.herokuapp.com/</a> and/or click this button.</p>
            <button onclick="topFunction()" id="scroll-button" class="yellow-button center-button minor-expansion" title="Go to top">Go to Top of Page</button>
        </div>
    </section>
    </section>
        <!-- poem here -->
        <!-- Yesi -->
    <section class="content-container-2 vivid-sky-blue link-styling">
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
            <br>
            But are you listening ? no</p>
            <br>
            <p>
                I know you understood
                <br>
                No one ever takes the time to see that you could
                <br>
                And sometimes I wish people just would
                <br>
                Take the time to show me they care
                <br>
                But instead they take the time to scout you and doubt you
                <br>
                And shows love but they ain't even about you
            </p>
        </div>
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
            <br>
            But are you listening ? no</p>
            <br>
            <p>
                Then everyone starts to stare 
                <br>
                With a scowl and a mean old glare 
                <br>
                Because from you they expect the same 
                <br>
                And that's a damn shame 
                <br>
                And no matter how many people are around you 
                <br>
                You'll always be alone you'll always feel alone 
            </p>
        </div>
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
            <br>
            But are you listening ? no</p>
            <br>
            <p>
                Because everyone has that mentality that
                <br>
                I was born alone and I'll die alone 
                <br>
                Because this person talks to that person 
                <br>
                And that person talks to this person 
                <br>
                And all their sides are shown 
            </p>
        </div>
            <!-- end the section - max 2-->
    </section>
    <section class="content-container-2 vivid-sky-blue link-styling">
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
                <br>
                But are you listening ? no</p>
                <br>
            <p>
                But everyone is always up in your business
                <br>
                But no one cares about how you’re really feeling 
                <br>
                Then here comes your biggest fear 
                <br>
                That person who hears words just to spread them to the next ear
            </p>
        </div>
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
                <br>
                But are you listening ? no</p>
                <br>
            <p>
                And I'm tired of people just hearing to respond 
                <br>
                And I’m waiting on that one person to listen so we can bond
                <br>
                Then I become sad then mad
                <br>
                Because I'm alone in a room full of people 
            </p>
        </div>
            <!-- end the section - max 2-->
    </section>
    <section class="content-container-2 vivid-sky-blue link-styling">
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
                <br>
                But are you listening ? no</p>
                <br>
            <p>
                And all it takes is that one bullet and one gun
                <br>
                Then that one shot then I’m done 
                <br>
                Now everyone is here crying 
                <br>
                Now everyone wants to start trying 
                <br>
                And now everyone is here now that I'm dying 
                <br>
            </p>
        </div>
        <div class="content-container-3 bold">
            <p>Can you hear me ? yes
                <br>
                But are you listening ? no</p>
                <br>
            <p>
                How come it takes me being six feet under 
                <br>
                For everyone to start to wonder 
                <br>
                On how I got here 
                <br>
                But no one was there to wipe my tears 
                <br>
                And all I needed was a listening ear 
                <br>
                But everyone was too worried about their biggest fear 
                <br>
            </p>
        </div>
        
            <!-- end the section - max 2-->
    </section>
        <div class="content-container-3 bold expansion">
            <p>
                Can you hear me now? NO
            <br>
                But were you listening ? Yes. 
            </p>
        </div>
    </section>
    <p>~~~~~ FIN ~~~~~~</p>
   
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 