<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<span>
    <img src="/img/fall-leaf.jpg" class= "photo-image" alt="">
</span>

<div class="content-container-3 cosmic-latte">
    <p class="mini-expansion">The site admin is working on composing this page as of November 18, 2022 for deployment ASAP. This message will disappear when the site is accessible. Thank you!</p>
</div>

<!-- delete button alert -->
<input type="button" value="Delete Me?!" id="delete-button"
class="delete-button" onclick="deleteAlert()">


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 