<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<span>
    <img src="/img/fall-leaf.jpg" class= "photo-image" alt="">
</span>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 