<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Map</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
        <h1>Term Project Page- Community Mapping</h1>
    </section>
    <section class="content-container-2 hot-pink">
        <section class="content-container-2 cosmic-latte bold link-styling">
            <a href="https://carol-bookz-3.herokuapp.com/">Check Out Our Book Collection that A.P. Students are reading this semester!</a>
        </section>
    </section>
    <section class="content-container-2 hot-pink">
        <div class="content-container-3 naples-yellow">
            <h3 class="center-text-paragraph">The Primary Practicum Projects (PPP)</h3>
            
        </div>
        <div class="content-container-2 cosmic-latte bold">
            <p> This section expands more upon the premise of the PPP, and how each student has crafted a project to help their own communities. </p>
            <br>
            <p class="bold">Fundamentals of Transformative Justice Semester: </p>
            
            <p>Using one of the frameworks below that we learned in class, design a program/discussion/project around:

            <p class="bold hot-pink-text">Abolition,
            Disability Justice,
            Participatory Action Research,
            Community Organizing: Safety Planning and/or Crisis Response </p>

            <p>and you’ll independently implement said project in your community with cohort and instructor check-ins. </p>
                
            <p class= "bold">Restorative Justice & Facilitation Theory via Research Integration Semester:</p>

            <p>In order to manifest and persevere in creating continuity within the Primary Practicum Projects you presented last semester, we will be using several of in-class exercises in transformative justice, restorative justice and facilitation theory to create different avenues for outreach, community care and compassion. 

            <p class="bold hot-pink-text"> Examples included: 
            Mock Scenarios, Designing Outreach and Circle Drafting,
            Informational Podcast & Script Writing, and
            Digital Facilitation and Supervision.
            </p>

            <p>This will help further develop systems to address and transform harmful conditions within your communities, to refine your initial project idea, revise using cumulative research integration and then you will complete an expanded showcase of the PPP via presentations, class and cohort check-ins, instructors shadowing meetings and/or digital facilitation by the end of the semester.</p>
        </div>
    </section>
</div>

<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 