<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Map</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
        <h1>Community Mapping of Practitioners- Where We Are In The U.S.</h1>
    </section>
    <section class="content-container-2 hot-pink">
        <section class="content-container-2 cosmic-latte bold link-styling">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sJg3pkuP5ROjCF-duBXefKxtzsmvFtg&ehbc=2E312F" width="640" height="480"></iframe>
        </section>
    </section>
</div>

<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 