<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>New Year: Mentor Feature</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container hot-pink link-styling">
    <section class="content-container-section">
        <h1>January: Mentor Feature</h1>
    </section>
    <section class="content-container-2 orchid-crayola">
        <span class="content-container-2 naples-yellow">
            <span class="content-container-2">
                <h2 class="expansion cosmic-latte">Learn More About How Co-Mentoring Enhances the Classroom Experience</h2>
                <p>Co-mentoring allows for dynamic, reciprocal and iterative relationships between the instructor, students and the mentor/guest speaker throughout the second and third semesters, which allow for more robust conversations and outlooks among students with topics that are outside of the curriculum. This also allows the student to reach out and build relationships with the co-mentors, on general advice and/or their term projects. These talks and/or their concepts are implemented for future cohorts.</p>
            </span>
        </span>
        <div class="content-container-2 naples-yellow">
            <span class="content-container-2 mint">
                <span class="content-container-2">
                    <h3 class="expansion">Danielle Schumacher (she/her)</h3>
                    <p class="minor-expansion">Co-Mentor to Kit - Cannabis Mentorship and Development </p>
                </span>
                <span class="content-container-2">
                    <h4 class="minor-expansion">Role: Founder and CEO of THC Staffing Group</h4>
                </span>
                <img src="/img/Danielle.png" alt="Danielle smiles at the camera, with Brown hair and red lipstick, a floral dress and a beam of sunshine radiating behind her" class="photo-image">
                <span class="content-container-3 cosmic-latte">
                    <p>Danielle Schumacher is founder and CEO of THC Staffing Group, a cannabis industry recruiting firm. Her work focuses on ongoing efforts toward helping to create a fair and equitable cannabis industry, including running a national mentoring and coaching program for people harmed by the war on drugs. Named a High Times Freedom Fighter in 2005, she has actively campaigned for sensible drug legalization for 20 years, including founding a chapter of Students for Sensible Drug Policy and serving as the youngest-ever board member of the National Organization for the Reform of Marijuana Laws. </p>
                    <p>She was the first Chancellor of Oaksterdam University in 2007 and was arrested in 2012 while protesting raids on the university by federal agents. Danielle serves as co-chair of the National Lawyers Guild Drug Policy Committee and is an advisor to the nonprofit think tank Parabola Center for Law and Policy. Known for her commitment to global women's issues, Danielle is a former board member for Women's Visionary Council and Center for Women in Transition. She holds an anthropology degree from the University of Illinois and was previously a columnist for Cannabis Now.</p>
                </span>
            </span>
            <span class="content-container-2 emerald">
                <span class="content-container-2">
                    <h3 class="expansion cosmic-latte">Testimonial about Kit</h3>
                    <p>"Kit participated in THC Staffing's mentoring program 2 years in a row. Kit offered concise and gentle advice about the program framework and also during group sessions with mentees. It was a comfort to myself as the administrator to know that Kit is trained in restorative justice, and I trust Kit completely as a mentor."- Danielle Schumacher</p>
                </span>
            </span>
            <!-- Queen Cheyenne-Wade -->
        </div>
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 