<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->
<div>
    ENTRIES
</div>





<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 