<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin- Outreach Detail</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1>Admin- Outreach Detail</h1>
    </section>
    <section class="content-container-2 vivid-sky-blue">
        <h2 class = "mini-container cosmic-latte">DETAIL OF LOG</h2>
       <!-- Insert outreach-detail-part.ejs --> 
       <!-- disabled because doesn't work -->
    </section>
    <section class="content-container-3 electric-blue">
        <div class="center-button">
            <button class="yellow-button link-styling" >
                <a href="/admin/outreach-log" role="button" type="submit">Back to Logs</a>
            </button>
        </div>
        <!-- include admin buttons -->
        <%- include('../partials/admin-buttons.ejs') -%> 
    </section>
</div>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 