<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Photo Gallery of Practitioners</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-2 naples-yellow">
    <h1>Photo Gallery of Practitioners Page</h1>
    </section>
    <section class="content-container-2">
        <!-- <a href="/photogallery"><img src="/img/photo-gallery.jpeg" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'."></a> -->
        <div class="content-container-3 bold cosmic-latte">
            <p>Hello, and welcome to our Photo Gallery. </p> 
            <p>Here you can find our featured Practitioners, </p> 
            <p>whom you can click on and it will link to our contact page. </p> 
            <p>We hope to hear from you soon :] </p>
        </div>
    </section>
    <h2 class="content-container-2 naples-yellow title-tinker">A.P Cohort 2021-2023</h2>
    <section class="content-container-2 side-scroll-mobile light-steel-blue">
    <div class="card mint">
        <a href="/contactus"><img src="/img/KIT.jpeg" class="template" alt="a picture of Kit, a Black woman smiling with a Black dress and flowers of varying colors, with a red rose in their right ear"></a>
        <div class="card-container">
            <h3><b>Kit Fenrir Amreik (they/she)</b></h3> 
            <p>Global Restorative and Transformative Justice Practitioner, Instructor of A.P. Cohort</p> 
        </div>
    </div>
    <div class="card vivid-sky-blue">
        <a href="/contactus"><img src="/img/YESI.jpeg" class="template" alt="a picture of Yesinia JJ, a Black person with a pink afro and clear framed glasses looks at the camera"></a>
        <div class="card-container">
            <h3><b>Yesinia JJ (pronoun agnostic)</b></h3> 
            <p>Accelerated Practitioner Instructor's Assistant & Shadowing Restorative and Transformative Justice Practitioner</p> 
        </div>
    </div>
    <div class="card gold-crayola">
        <a href="/contactus"><img src="/img/KRIS.jpg" class="template" alt="a picture of Kristopher JT Toma-Lee, a 35 y/o genderqueer trans guy from Massachusetts. They are holding their phone, wearing a black undershirt and a green and blue shirt."></a>
        <div class="card-container">
            <h3><b>Kristopher JT Toma-Lee (they/he)</b></h3> 
            <p>Accelerated Practitioner Student - Advanced Semester</p> 
        </div>
    </div>
    <div class="card medium-purple">
        <a href="/contactus"><img src="/img/CHELSEA.JPEG" class="template" alt="a picture of Chelsea Colby, a White person against a grey background, wearing a blue sweater, and smiling with leopard print glasses."></a>
        <div class="card-container">
            <h3><b>Chelsea Colby (she/they)</b></h3> 
            <p>Accelerated Practitioner Student - Advanced Semester</p> 
        </div>
    </div>
    <div class="card orchid-crayola">
        <a href="/contactus"><img src="/img/CORI.jpeg" class="template" alt="a picture of Cori Falco, a White person with makeup on against a beach background, smiling with a light blue floral top"></a>
        <div class="card-container">
            <h3><b>Cori Falco (she/her)</b></h3> 
            <p>Accelerated Practitioner Student - Advanced Semester</p> 
        </div>
    </div>
    <div class="card mint">
        <a href="/contactus"><img src="/img/RACHEL.JPG" class="template" alt="a picture of Rachel Freed Sussman, a White person smiling and snuggled in a blanket against a beach background"></a>
        <div class="card-container">
            <h3><b>Rachel Freed Sussman (any pronoun)</b></h3> 
            <p> Accelerated Practitioner Student - Advanced Semester</p> 
        </div>
    </div>
    <div class="card vivid-sky-blue">
        <a href="/contactus"><img src="/img/THERESA.jpg" class="template" alt="a picture of Theresa Yannetty, a White person smiling with light makeup coupled with a stuffed animal in a chair"></a>
        <div class="card-container">
            <h3><b>Theresa Yannetty (she/her)</b></h3> 
            <p>Accelerated Practitioner Student - Advanced Semester</p> 
        </div>
    </div>
    <div class="card gold-crayola">
        <a href="/contactus"><img src="/img/TIM.jpg" class="template" alt="a picture of Timothy Scott Crumley, a White person smiling with a blue shirt, crosslegged against a neutral background"></a>
        <div class="card-container">
            <h3><b>Timothy Scott Crumley (he/him)</b></h3> 
            <p>Accelerated Practitioner Student - Advanced Semester</p> 
        </div>
    </div>
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 
