<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Project Directory</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 inverse-yellow">
        <h1>Project Directory</h1>
        <br>
    </section>
    <section class="content-container-2 inverse-yellow">
        <h2>Graduate Updates as of October 2024</h2>
        <br>
        </section>
        <section class="content-container-2 cosmic-latte">
            <p class="mini-expansion">Graduates have been working diligently on their journeys after they have finished the course! Once the curriculum is over, the instructor actively checks on grads to see what their next steps look like. Here's a list of what our graduates do to give back to the program and ecosystem: </p>
            <ul>
                <li class="vivid-sky-blue-text">Our most recent capstone student has been engaging in his community at large within anarchist circles and has been able to attend an anarchist book fair, collaborate on a zine using class concepts, as well as creating from scratch the first post-graduate level course for this program, because learning is for a lifetime.</li>
                <br>
                <li class="hot-pink-text link-styling">A <a href="/contactus">pilot student</a> (one of the six students that co-created this course with their insights, feedback and anti-racist modalities that shapes the course for those who are now taking this) has been able to take on some pro-bono cases to gain experience in the field, and using guides and resources given to every Capstone student based off my personal experience and guidance doing this work for years presently.</li>
                <br>
                <li class="vivid-sky-blue-text">Another pilot student has been a thriving force for our classroom and community Slack, being present several points a week for our students as she holds space wonderfully, and their presence has been astronomical for student connection, growth and retention.</li>
            </ul>
        </section>
        <section class="content-container-2 inverse-orchid">
            <p class="mini-expansion">As of October 2024, students are working on their final projects and refinements for the semester. Check them out below: </p>
            <%- include('../partials/orange-project-site-dev') -%> 
        </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 
