<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Create A Log</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<div class="content-container">
    <section class="content-container-section">
        <h1>Read A Log</h1>
    </section>
    <section class="content-container-2 naples-yellow"> 
        <div class="content-container-3 card gold-crayola">
            <span>
                Landing Page for Form Entries
            </span>
            <br>
        </div>
    </section>
</div>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 