<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Read A Log</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<!-- DO NOT MODIFY- MVP PRODUCT -->

<!-- uncommenting the for loops will render the page as MVP -->

<div class="content-container">
    <section class="content-container-section">
        <h1>Read A Log</h1>
    </section>
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card mint">
            <span class="link-styling">
                <p>
                    Create Log Entry
                </p>
            </span>
        </div>
    </section>
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card gold-crayola">
            <span class="link-styling">
                <p>
                    Update Log Entry
                </p>
            </span>    
    </section>
    <!-- <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card light-steel-blue">
            <span class="link-styling">
                <p>
                    Update Log Entry
                </p>
            </span>
        </div>
    </section> -->
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card hot-pink">
            <span class = "link-styling">
                <p>
                    Delete Log Entry
                </p>
            </span>
        </div>
    </section>
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card cosmic-latte">
            <span class="link-styling">
                <p>
                    Footer Form Entry
                </p>
            </span>
        </div>
    </section>
</div>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 