<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Student Directory</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 inverse-yellow">
        <h1>Student Directory</h1>
        <br>
    </section>
<section class="content-container-2 cosmic-latte">
    <%- include('../partials/yellow-cohort-pics-map') -%> 
</section>

</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 