<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Review Semester: Summer Projects</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Review Semester: Summer Projects</h1>
    </section>
     <!-- Section about summer projects -->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Content</p></a>
        </div>
        <img src="/img/" class= "photo-image" alt="">
    </section>
    <!-- add more sections -->

    <!-- end sections -->
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 