<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Review Semester: Summer Projects</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Review Semester: Summer Projects</h1>
    </section>
     <!-- Section about summer projects -->
     <section class="content-container-2 mint">
        <div class="content-container-3 vivid-sky-blue">
            <p class="expansion">Content</p></a>
        </div>
        <img src="/img/" class= "photo-image" alt="">
    </section>
    <!-- add more sections -->
    <section class="content-container-2 orchid-crayola bold link-styling">
        <a href="https://kit-class-bookstore.cyclic.app/">Check Out Our Book Collection that A.P. Students are reading this semester!</a>
    </section>
    <!-- end sections -->
</div>
<div class="content-container">
    <section class="content-container-section">
        <h1>Description of Year Long Project</h1>
    </section>
    <section class="content-container-2 hot-pink">
        <div class="content-container-3 naples-yellow">
            <h3 class="center-text-paragraph">The Primary Practicum Projects (PPP)</h3>
            
        </div>
        <div class="content-container-2 cosmic-latte bold">
            <p> This section expands more upon the premise of the PPP, and how each student has crafted a project to help their own communities. This project is a <p class="hot-pink-text">mandatory component of the entirety of the 3 semesters and to graduate as a full-fledged Practitioner.</p>
            
            <p>----------------------------------</p>

            <p class="bold">Beginner- Fundamentals of Transformative Justice Semester: </p>
            
            <p>Using one of the frameworks below that we learned in class, design a program/discussion/project around:

            <p class="bold hot-pink-text">Abolition,
            Disability Justice,
            Participatory Action Research,
            Community Organizing: Safety Planning and/or Crisis Response </p>

            <p>and you’ll independently implement said project in your community with cohort and instructor check-ins. </p>

            <p>----------------------------------</p>
                
            <p class= "bold">Intermediate- Restorative Justice & Facilitation Theory via Research Integration Semester:</p>

            <p>In order to manifest and persevere in creating continuity within the Primary Practicum Projects you presented last semester, we will be using several of in-class exercises in transformative justice, restorative justice and facilitation theory to create different avenues for outreach, community care and compassion. 

            <p class="bold hot-pink-text"> Examples included: 
            Mock Scenarios, Designing Outreach and Circle Drafting,
            Informational Podcast & Script Writing, and
            Digital Facilitation and Supervision.
            </p>

            <p>This will help further develop systems to address and transform harmful conditions within your communities, to refine your initial project idea, revise using cumulative research integration and then you will complete an expanded showcase of the PPP via presentations, class and cohort check-ins, instructors shadowing meetings and/or digital facilitation by the end of the semester.</p>
            
            <p>----------------------------------</p>

            <p class= "bold">Advanced- Critical Race Theory & Global Dynamics Capstone Semester:</p>

            <p>This is an expansion of our course last semester, RJ & Facilitation Theory via Research Integration. </p>

            <p>We will begin to cumulatively synthesize healing justice as a whole: </p>
            
            <p class="bold hot-pink-text">via RJ & TJ theory and the application of our knowledge by assessing films, novels and other media, looking at Participatory Defense models with applied case scenarios, guest speakers, in class discussions, mini projects </p> 
            
            <p>and creating continuity within the Primary Practicum Projects you presented last semester via research integration. By the end of the course, students will have their projects deployed on the </p>
            
            
            <p class="bold hot-pink-text link-styling"><a href="https://tj-practitioner-directory.cyclicapp.com/">Transformative Justice Practitioner Directory website</a></p>

            <p>for the public to see their work, and create opportunities for post-graduation mentorship and pathways in Transformative Justice.</p>
            
        </div>
    </section>
</div>

<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 