<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>TJ Quiz Answers</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
        <h1>Answer Key</h1>
    </section>
    <section class="content-container-2 side-scroll-mobile">
        <ol>
            <li><i> A </i></li>
            <li><i> A </i></li>
            <li><i> B </i></li>
            <li><i> C </i></li>
        </ol>
    </section>
    <h3> Thanks for taking my quiz!</h3>
    <div class="content-container-3 link-styling">
        <a href="./tj-quiz"><p>Return to Quiz </p></a>
        <a href="https://www.restorecircles.love/the-mechanics"><p>Source: The Circle Process and the Medicine Wheel </p></a>
    </div>
</div>
</body>    
</html>
